<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="brand">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.brand.detail.title')">Brand</span> {{brand.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.brand.brandId')">Brand Id</span>
                    </dt>
                    <dd>
                        <span>{{brand.brandId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.brand.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{brand.name}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="brand.id" :to="{name: 'BrandEdit', params: {brandId: brand.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./brand-details.component.ts">
</script>
