<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.order.home.title')" id="order-heading">Orders</span>
            <router-link :to="{name: 'OrderCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.order.home.createLabel')">
                    Create new Order
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && orders && orders.length === 0">
            <span v-text="$t('ecommerchantApp.order.home.notFound')">No orders found</span>
        </div>
        <div class="table-responsive" v-if="orders && orders.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th v-on:click="changeOrder('id')"><span v-text="$t('global.field.id')">ID</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('orderNumber')"><span v-text="$t('ecommerchantApp.order.orderNumber')">Order Number</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('clientId')"><span v-text="$t('ecommerchantApp.order.clientId')">Client Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('address')"><span v-text="$t('ecommerchantApp.order.address')">Address</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('paymentGateway')"><span v-text="$t('ecommerchantApp.order.paymentGateway')">Payment Gateway</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('conversionValue')"><span v-text="$t('ecommerchantApp.order.conversionValue')">Conversion Value</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('createdAt')"><span v-text="$t('ecommerchantApp.order.createdAt')">Created At</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('customerChoosenCurrency')"><span v-text="$t('ecommerchantApp.order.customerChoosenCurrency')">Customer Choosen Currency</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('customerCurrencySymbol')"><span v-text="$t('ecommerchantApp.order.customerCurrencySymbol')">Customer Currency Symbol</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('customerId')"><span v-text="$t('ecommerchantApp.order.customerId')">Customer Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('defaultPaymentCurrency')"><span v-text="$t('ecommerchantApp.order.defaultPaymentCurrency')">Default Payment Currency</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('email')"><span v-text="$t('ecommerchantApp.order.email')">Email</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('fullOrderStatus')"><span v-text="$t('ecommerchantApp.order.fullOrderStatus')">Full Order Status</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('isFinalize')"><span v-text="$t('ecommerchantApp.order.isFinalize')">Is Finalize</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('items')"><span v-text="$t('ecommerchantApp.order.items')">Items</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('orderDate')"><span v-text="$t('ecommerchantApp.order.orderDate')">Order Date</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('paymentId')"><span v-text="$t('ecommerchantApp.order.paymentId')">Payment Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('paymentMethod')"><span v-text="$t('ecommerchantApp.order.paymentMethod')">Payment Method</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('paymentStatus')"><span v-text="$t('ecommerchantApp.order.paymentStatus')">Payment Status</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('totalPrice')"><span v-text="$t('ecommerchantApp.order.totalPrice')">Total Price</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('updatedAt')"><span v-text="$t('ecommerchantApp.order.updatedAt')">Updated At</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('earnedCoins')"><span v-text="$t('ecommerchantApp.order.earnedCoins')">Earned Coins</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('fakeItems')"><span v-text="$t('ecommerchantApp.order.fakeItems')">Fake Items</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('giftCardAmount')"><span v-text="$t('ecommerchantApp.order.giftCardAmount')">Gift Card Amount</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('giftCardId')"><span v-text="$t('ecommerchantApp.order.giftCardId')">Gift Card Id</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('orderType')"><span v-text="$t('ecommerchantApp.order.orderType')">Order Type</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('paymentDate')"><span v-text="$t('ecommerchantApp.order.paymentDate')">Payment Date</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('redeemCoinAmount')"><span v-text="$t('ecommerchantApp.order.redeemCoinAmount')">Redeem Coin Amount</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('redeemCoins')"><span v-text="$t('ecommerchantApp.order.redeemCoins')">Redeem Coins</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('totalAmountToPay')"><span v-text="$t('ecommerchantApp.order.totalAmountToPay')">Total Amount To Pay</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('appliedCouponAmount')"><span v-text="$t('ecommerchantApp.order.appliedCouponAmount')">Applied Coupon Amount</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('appliedPromoCode')"><span v-text="$t('ecommerchantApp.order.appliedPromoCode')">Applied Promo Code</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('shippingCharge')"><span v-text="$t('ecommerchantApp.order.shippingCharge')">Shipping Charge</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th v-on:click="changeOrder('tax')"><span v-text="$t('ecommerchantApp.order.tax')">Tax</span> <font-awesome-icon icon="sort"></font-awesome-icon></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="order of orderBy(orders, propOrder, reverse === true ? 1 : -1)"
                    :key="order.id">
                    <td>
                        <router-link :to="{name: 'OrderView', params: {orderId: order.id}}">{{order.id}}</router-link>
                    </td>
                    <td>{{order.orderNumber}}</td>
                    <td>{{order.clientId}}</td>
                    <td>{{order.address}}</td>
                    <td>{{order.paymentGateway}}</td>
                    <td>{{order.conversionValue}}</td>
                    <td>{{order.createdAt | formatDate}}</td>
                    <td>{{order.customerChoosenCurrency}}</td>
                    <td>{{order.customerCurrencySymbol}}</td>
                    <td>{{order.customerId}}</td>
                    <td>{{order.defaultPaymentCurrency}}</td>
                    <td>{{order.email}}</td>
                    <td v-text="$t('ecommerchantApp.FullOrderStatus.' + order.fullOrderStatus)">{{order.fullOrderStatus}}</td>
                    <td>{{order.isFinalize}}</td>
                    <td>{{order.items}}</td>
                    <td>{{order.orderDate | formatDate}}</td>
                    <td>{{order.paymentId}}</td>
                    <td>{{order.paymentMethod}}</td>
                    <td v-text="$t('ecommerchantApp.PaymentStatus.' + order.paymentStatus)">{{order.paymentStatus}}</td>
                    <td>{{order.totalPrice}}</td>
                    <td>{{order.updatedAt | formatDate}}</td>
                    <td>{{order.earnedCoins}}</td>
                    <td>{{order.fakeItems}}</td>
                    <td>{{order.giftCardAmount}}</td>
                    <td>{{order.giftCardId}}</td>
                    <td>{{order.orderType}}</td>
                    <td>{{order.paymentDate | formatDate}}</td>
                    <td>{{order.redeemCoinAmount}}</td>
                    <td>{{order.redeemCoins}}</td>
                    <td>{{order.totalAmountToPay}}</td>
                    <td>{{order.appliedCouponAmount}}</td>
                    <td>{{order.appliedPromoCode}}</td>
                    <td>{{order.shippingCharge}}</td>
                    <td>{{order.tax}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'OrderView', params: {orderId: order.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'OrderEdit', params: {orderId: order.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(order)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.order.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-order-heading" v-bind:title="$t('ecommerchantApp.order.delete.question')">Are you sure you want to delete this Order?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-order" v-text="$t('entity.action.delete')" v-on:click="removeOrder()">Delete</button>
            </div>
        </b-modal>
        <!-- Pager is not implemented yet, so this is normal pagination instead -->
        <div v-if="orders && orders.length">
            <div class="row justify-content-center">
                <jhi-item-count :page="page" :total="queryCount" :itemsPerPage="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <b-pagination size="md" :total-rows="totalItems" v-model="page" :per-page="itemsPerPage" :change="loadPage(page)"></b-pagination>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./order.component.ts">
</script>
