<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="order">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.order.detail.title')">Order</span> {{order.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.orderNumber')">Order Number</span>
                    </dt>
                    <dd>
                        <span>{{order.orderNumber}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{order.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.address')">Address</span>
                    </dt>
                    <dd>
                        <span>{{order.address}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.paymentGateway')">Payment Gateway</span>
                    </dt>
                    <dd>
                        <span>{{order.paymentGateway}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.conversionValue')">Conversion Value</span>
                    </dt>
                    <dd>
                        <span>{{order.conversionValue}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.createdAt')">Created At</span>
                    </dt>
                    <dd>
                        <span>{{order.createdAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.customerChoosenCurrency')">Customer Choosen Currency</span>
                    </dt>
                    <dd>
                        <span>{{order.customerChoosenCurrency}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.customerCurrencySymbol')">Customer Currency Symbol</span>
                    </dt>
                    <dd>
                        <span>{{order.customerCurrencySymbol}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.customerId')">Customer Id</span>
                    </dt>
                    <dd>
                        <span>{{order.customerId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.defaultPaymentCurrency')">Default Payment Currency</span>
                    </dt>
                    <dd>
                        <span>{{order.defaultPaymentCurrency}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.email')">Email</span>
                    </dt>
                    <dd>
                        <span>{{order.email}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.fullOrderStatus')">Full Order Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerchantApp.FullOrderStatus.' + order.fullOrderStatus)">{{order.fullOrderStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.isFinalize')">Is Finalize</span>
                    </dt>
                    <dd>
                        <span>{{order.isFinalize}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.items')">Items</span>
                    </dt>
                    <dd>
                        <span>{{order.items}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.orderDate')">Order Date</span>
                    </dt>
                    <dd>
                        <span>{{order.orderDate | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.paymentId')">Payment Id</span>
                    </dt>
                    <dd>
                        <span>{{order.paymentId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.paymentMethod')">Payment Method</span>
                    </dt>
                    <dd>
                        <span>{{order.paymentMethod}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.paymentStatus')">Payment Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerchantApp.PaymentStatus.' + order.paymentStatus)">{{order.paymentStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.totalPrice')">Total Price</span>
                    </dt>
                    <dd>
                        <span>{{order.totalPrice}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.updatedAt')">Updated At</span>
                    </dt>
                    <dd>
                        <span>{{order.updatedAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.earnedCoins')">Earned Coins</span>
                    </dt>
                    <dd>
                        <span>{{order.earnedCoins}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.fakeItems')">Fake Items</span>
                    </dt>
                    <dd>
                        <span>{{order.fakeItems}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.giftCardAmount')">Gift Card Amount</span>
                    </dt>
                    <dd>
                        <span>{{order.giftCardAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.giftCardId')">Gift Card Id</span>
                    </dt>
                    <dd>
                        <span>{{order.giftCardId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.orderType')">Order Type</span>
                    </dt>
                    <dd>
                        <span>{{order.orderType}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.paymentDate')">Payment Date</span>
                    </dt>
                    <dd>
                        <span>{{order.paymentDate | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.redeemCoinAmount')">Redeem Coin Amount</span>
                    </dt>
                    <dd>
                        <span>{{order.redeemCoinAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.redeemCoins')">Redeem Coins</span>
                    </dt>
                    <dd>
                        <span>{{order.redeemCoins}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.totalAmountToPay')">Total Amount To Pay</span>
                    </dt>
                    <dd>
                        <span>{{order.totalAmountToPay}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.appliedCouponAmount')">Applied Coupon Amount</span>
                    </dt>
                    <dd>
                        <span>{{order.appliedCouponAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.appliedPromoCode')">Applied Promo Code</span>
                    </dt>
                    <dd>
                        <span>{{order.appliedPromoCode}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.shippingCharge')">Shipping Charge</span>
                    </dt>
                    <dd>
                        <span>{{order.shippingCharge}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.order.tax')">Tax</span>
                    </dt>
                    <dd>
                        <span>{{order.tax}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="order.id" :to="{name: 'OrderEdit', params: {orderId: order.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./order-details.component.ts">
</script>
