<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.order.home.createOrEditLabel" v-text="$t('ecommerchantApp.order.home.createOrEditLabel')">Create or edit a Order</h2>
                <div>
                    <div class="form-group" v-if="order.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="order.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.orderNumber')" for="order-orderNumber">Order Number</label>
                        <input type="text" class="form-control" name="orderNumber" id="order-orderNumber"
                            :class="{'valid': !$v.order.orderNumber.$invalid, 'invalid': $v.order.orderNumber.$invalid }" v-model="$v.order.orderNumber.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.clientId')" for="order-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="order-clientId"
                            :class="{'valid': !$v.order.clientId.$invalid, 'invalid': $v.order.clientId.$invalid }" v-model="$v.order.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.address')" for="order-address">Address</label>
                        <input type="text" class="form-control" name="address" id="order-address"
                            :class="{'valid': !$v.order.address.$invalid, 'invalid': $v.order.address.$invalid }" v-model="$v.order.address.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.paymentGateway')" for="order-paymentGateway">Payment Gateway</label>
                        <input type="text" class="form-control" name="paymentGateway" id="order-paymentGateway"
                            :class="{'valid': !$v.order.paymentGateway.$invalid, 'invalid': $v.order.paymentGateway.$invalid }" v-model="$v.order.paymentGateway.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.conversionValue')" for="order-conversionValue">Conversion Value</label>
                        <input type="number" class="form-control" name="conversionValue" id="order-conversionValue"
                            :class="{'valid': !$v.order.conversionValue.$invalid, 'invalid': $v.order.conversionValue.$invalid }" v-model.number="$v.order.conversionValue.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.createdAt')" for="order-createdAt">Created At</label>
                        <div class="d-flex">
                            <input id="order-createdAt" type="datetime-local" class="form-control" name="createdAt" :class="{'valid': !$v.order.createdAt.$invalid, 'invalid': $v.order.createdAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.order.createdAt.$model)"
                            @change="updateInstantField('createdAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.customerChoosenCurrency')" for="order-customerChoosenCurrency">Customer Choosen Currency</label>
                        <input type="text" class="form-control" name="customerChoosenCurrency" id="order-customerChoosenCurrency"
                            :class="{'valid': !$v.order.customerChoosenCurrency.$invalid, 'invalid': $v.order.customerChoosenCurrency.$invalid }" v-model="$v.order.customerChoosenCurrency.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.customerCurrencySymbol')" for="order-customerCurrencySymbol">Customer Currency Symbol</label>
                        <input type="text" class="form-control" name="customerCurrencySymbol" id="order-customerCurrencySymbol"
                            :class="{'valid': !$v.order.customerCurrencySymbol.$invalid, 'invalid': $v.order.customerCurrencySymbol.$invalid }" v-model="$v.order.customerCurrencySymbol.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.customerId')" for="order-customerId">Customer Id</label>
                        <input type="text" class="form-control" name="customerId" id="order-customerId"
                            :class="{'valid': !$v.order.customerId.$invalid, 'invalid': $v.order.customerId.$invalid }" v-model="$v.order.customerId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.defaultPaymentCurrency')" for="order-defaultPaymentCurrency">Default Payment Currency</label>
                        <input type="text" class="form-control" name="defaultPaymentCurrency" id="order-defaultPaymentCurrency"
                            :class="{'valid': !$v.order.defaultPaymentCurrency.$invalid, 'invalid': $v.order.defaultPaymentCurrency.$invalid }" v-model="$v.order.defaultPaymentCurrency.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.email')" for="order-email">Email</label>
                        <input type="text" class="form-control" name="email" id="order-email"
                            :class="{'valid': !$v.order.email.$invalid, 'invalid': $v.order.email.$invalid }" v-model="$v.order.email.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.fullOrderStatus')" for="order-fullOrderStatus">Full Order Status</label>
                        <select class="form-control" name="fullOrderStatus" :class="{'valid': !$v.order.fullOrderStatus.$invalid, 'invalid': $v.order.fullOrderStatus.$invalid }" v-model="$v.order.fullOrderStatus.$model" id="order-fullOrderStatus" >
                            <option value="Delivered" v-bind:label="$t('ecommerchantApp.FullOrderStatus.Delivered')">Delivered</option>
                            <option value="Shipped" v-bind:label="$t('ecommerchantApp.FullOrderStatus.Shipped')">Shipped</option>
                            <option value="Processing" v-bind:label="$t('ecommerchantApp.FullOrderStatus.Processing')">Processing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.isFinalize')" for="order-isFinalize">Is Finalize</label>
                        <input type="checkbox" class="form-check" name="isFinalize" id="order-isFinalize"
                            :class="{'valid': !$v.order.isFinalize.$invalid, 'invalid': $v.order.isFinalize.$invalid }" v-model="$v.order.isFinalize.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.items')" for="order-items">Items</label>
                        <input type="text" class="form-control" name="items" id="order-items"
                            :class="{'valid': !$v.order.items.$invalid, 'invalid': $v.order.items.$invalid }" v-model="$v.order.items.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.orderDate')" for="order-orderDate">Order Date</label>
                        <div class="d-flex">
                            <input id="order-orderDate" type="datetime-local" class="form-control" name="orderDate" :class="{'valid': !$v.order.orderDate.$invalid, 'invalid': $v.order.orderDate.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.order.orderDate.$model)"
                            @change="updateInstantField('orderDate', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.paymentId')" for="order-paymentId">Payment Id</label>
                        <input type="text" class="form-control" name="paymentId" id="order-paymentId"
                            :class="{'valid': !$v.order.paymentId.$invalid, 'invalid': $v.order.paymentId.$invalid }" v-model="$v.order.paymentId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.paymentMethod')" for="order-paymentMethod">Payment Method</label>
                        <input type="text" class="form-control" name="paymentMethod" id="order-paymentMethod"
                            :class="{'valid': !$v.order.paymentMethod.$invalid, 'invalid': $v.order.paymentMethod.$invalid }" v-model="$v.order.paymentMethod.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.paymentStatus')" for="order-paymentStatus">Payment Status</label>
                        <select class="form-control" name="paymentStatus" :class="{'valid': !$v.order.paymentStatus.$invalid, 'invalid': $v.order.paymentStatus.$invalid }" v-model="$v.order.paymentStatus.$model" id="order-paymentStatus" >
                            <option value="SUCCESS" v-bind:label="$t('ecommerchantApp.PaymentStatus.SUCCESS')">SUCCESS</option>
                            <option value="PENDING" v-bind:label="$t('ecommerchantApp.PaymentStatus.PENDING')">PENDING</option>
                            <option value="FAILED" v-bind:label="$t('ecommerchantApp.PaymentStatus.FAILED')">FAILED</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.totalPrice')" for="order-totalPrice">Total Price</label>
                        <input type="number" class="form-control" name="totalPrice" id="order-totalPrice"
                            :class="{'valid': !$v.order.totalPrice.$invalid, 'invalid': $v.order.totalPrice.$invalid }" v-model.number="$v.order.totalPrice.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.updatedAt')" for="order-updatedAt">Updated At</label>
                        <div class="d-flex">
                            <input id="order-updatedAt" type="datetime-local" class="form-control" name="updatedAt" :class="{'valid': !$v.order.updatedAt.$invalid, 'invalid': $v.order.updatedAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.order.updatedAt.$model)"
                            @change="updateInstantField('updatedAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.earnedCoins')" for="order-earnedCoins">Earned Coins</label>
                        <input type="number" class="form-control" name="earnedCoins" id="order-earnedCoins"
                            :class="{'valid': !$v.order.earnedCoins.$invalid, 'invalid': $v.order.earnedCoins.$invalid }" v-model.number="$v.order.earnedCoins.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.fakeItems')" for="order-fakeItems">Fake Items</label>
                        <input type="text" class="form-control" name="fakeItems" id="order-fakeItems"
                            :class="{'valid': !$v.order.fakeItems.$invalid, 'invalid': $v.order.fakeItems.$invalid }" v-model="$v.order.fakeItems.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.giftCardAmount')" for="order-giftCardAmount">Gift Card Amount</label>
                        <input type="number" class="form-control" name="giftCardAmount" id="order-giftCardAmount"
                            :class="{'valid': !$v.order.giftCardAmount.$invalid, 'invalid': $v.order.giftCardAmount.$invalid }" v-model.number="$v.order.giftCardAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.giftCardId')" for="order-giftCardId">Gift Card Id</label>
                        <input type="text" class="form-control" name="giftCardId" id="order-giftCardId"
                            :class="{'valid': !$v.order.giftCardId.$invalid, 'invalid': $v.order.giftCardId.$invalid }" v-model="$v.order.giftCardId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.orderType')" for="order-orderType">Order Type</label>
                        <input type="text" class="form-control" name="orderType" id="order-orderType"
                            :class="{'valid': !$v.order.orderType.$invalid, 'invalid': $v.order.orderType.$invalid }" v-model="$v.order.orderType.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.paymentDate')" for="order-paymentDate">Payment Date</label>
                        <div class="d-flex">
                            <input id="order-paymentDate" type="datetime-local" class="form-control" name="paymentDate" :class="{'valid': !$v.order.paymentDate.$invalid, 'invalid': $v.order.paymentDate.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.order.paymentDate.$model)"
                            @change="updateInstantField('paymentDate', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.redeemCoinAmount')" for="order-redeemCoinAmount">Redeem Coin Amount</label>
                        <input type="number" class="form-control" name="redeemCoinAmount" id="order-redeemCoinAmount"
                            :class="{'valid': !$v.order.redeemCoinAmount.$invalid, 'invalid': $v.order.redeemCoinAmount.$invalid }" v-model.number="$v.order.redeemCoinAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.redeemCoins')" for="order-redeemCoins">Redeem Coins</label>
                        <input type="number" class="form-control" name="redeemCoins" id="order-redeemCoins"
                            :class="{'valid': !$v.order.redeemCoins.$invalid, 'invalid': $v.order.redeemCoins.$invalid }" v-model.number="$v.order.redeemCoins.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.totalAmountToPay')" for="order-totalAmountToPay">Total Amount To Pay</label>
                        <input type="number" class="form-control" name="totalAmountToPay" id="order-totalAmountToPay"
                            :class="{'valid': !$v.order.totalAmountToPay.$invalid, 'invalid': $v.order.totalAmountToPay.$invalid }" v-model.number="$v.order.totalAmountToPay.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.appliedCouponAmount')" for="order-appliedCouponAmount">Applied Coupon Amount</label>
                        <input type="number" class="form-control" name="appliedCouponAmount" id="order-appliedCouponAmount"
                            :class="{'valid': !$v.order.appliedCouponAmount.$invalid, 'invalid': $v.order.appliedCouponAmount.$invalid }" v-model.number="$v.order.appliedCouponAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.appliedPromoCode')" for="order-appliedPromoCode">Applied Promo Code</label>
                        <input type="text" class="form-control" name="appliedPromoCode" id="order-appliedPromoCode"
                            :class="{'valid': !$v.order.appliedPromoCode.$invalid, 'invalid': $v.order.appliedPromoCode.$invalid }" v-model="$v.order.appliedPromoCode.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.shippingCharge')" for="order-shippingCharge">Shipping Charge</label>
                        <input type="number" class="form-control" name="shippingCharge" id="order-shippingCharge"
                            :class="{'valid': !$v.order.shippingCharge.$invalid, 'invalid': $v.order.shippingCharge.$invalid }" v-model.number="$v.order.shippingCharge.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.order.tax')" for="order-tax">Tax</label>
                        <input type="number" class="form-control" name="tax" id="order-tax"
                            :class="{'valid': !$v.order.tax.$invalid, 'invalid': $v.order.tax.$invalid }" v-model.number="$v.order.tax.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.order.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./order-update.component.ts">
</script>
