<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.productCategory.home.createOrEditLabel" v-text="$t('ecommerchantApp.productCategory.home.createOrEditLabel')">Create or edit a ProductCategory</h2>
                <div>
                    <div class="form-group" v-if="productCategory.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productCategory.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.clientId')" for="product-category-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-category-clientId"
                            :class="{'valid': !$v.productCategory.clientId.$invalid, 'invalid': $v.productCategory.clientId.$invalid }" v-model="$v.productCategory.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.adminKey')" for="product-category-adminKey">Admin Key</label>
                        <input type="text" class="form-control" name="adminKey" id="product-category-adminKey"
                            :class="{'valid': !$v.productCategory.adminKey.$invalid, 'invalid': $v.productCategory.adminKey.$invalid }" v-model="$v.productCategory.adminKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.backgroundImage')" for="product-category-backgroundImage">Background Image</label>
                        <input type="text" class="form-control" name="backgroundImage" id="product-category-backgroundImage"
                            :class="{'valid': !$v.productCategory.backgroundImage.$invalid, 'invalid': $v.productCategory.backgroundImage.$invalid }" v-model="$v.productCategory.backgroundImage.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.categoryId')" for="product-category-categoryId">Category Id</label>
                        <input type="text" class="form-control" name="categoryId" id="product-category-categoryId"
                            :class="{'valid': !$v.productCategory.categoryId.$invalid, 'invalid': $v.productCategory.categoryId.$invalid }" v-model="$v.productCategory.categoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.depthLevel')" for="product-category-depthLevel">Depth Level</label>
                        <input type="number" class="form-control" name="depthLevel" id="product-category-depthLevel"
                            :class="{'valid': !$v.productCategory.depthLevel.$invalid, 'invalid': $v.productCategory.depthLevel.$invalid }" v-model.number="$v.productCategory.depthLevel.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.description')" for="product-category-description">Description</label>
                        <input type="text" class="form-control" name="description" id="product-category-description"
                            :class="{'valid': !$v.productCategory.description.$invalid, 'invalid': $v.productCategory.description.$invalid }" v-model="$v.productCategory.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.name')" for="product-category-name">Name</label>
                        <input type="text" class="form-control" name="name" id="product-category-name"
                            :class="{'valid': !$v.productCategory.name.$invalid, 'invalid': $v.productCategory.name.$invalid }" v-model="$v.productCategory.name.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.parentCategoryId')" for="product-category-parentCategoryId">Parent Category Id</label>
                        <input type="text" class="form-control" name="parentCategoryId" id="product-category-parentCategoryId"
                            :class="{'valid': !$v.productCategory.parentCategoryId.$invalid, 'invalid': $v.productCategory.parentCategoryId.$invalid }" v-model="$v.productCategory.parentCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productCategory.recordStatus')" for="product-category-recordStatus">Record Status</label>
                        <input type="number" class="form-control" name="recordStatus" id="product-category-recordStatus"
                            :class="{'valid': !$v.productCategory.recordStatus.$invalid, 'invalid': $v.productCategory.recordStatus.$invalid }" v-model.number="$v.productCategory.recordStatus.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productCategory.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-category-update.component.ts">
</script>
