<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.productDefinition.home.title')" id="product-definition-heading">Product Definitions</span>
            <router-link :to="{name: 'ProductDefinitionCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-definition">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.productDefinition.home.createLabel')">
                    Create new ProductDefinition
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && productDefinitions && productDefinitions.length === 0">
            <span v-text="$t('ecommerchantApp.productDefinition.home.notFound')">No productDefinitions found</span>
        </div>
        <div class="table-responsive" v-if="productDefinitions && productDefinitions.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.adminKey')">Admin Key</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.productCategoryId')">Product Category Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.properties')">Properties</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.propertyName')">Property Name</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.propertyValue')">Property Value</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.recordStatus')">Record Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.forFilter')">For Filter</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.productId')">Product Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDefinition.order')">Order</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="productDefinition in productDefinitions"
                    :key="productDefinition.id">
                    <td>
                        <router-link :to="{name: 'ProductDefinitionView', params: {productDefinitionId: productDefinition.id}}">{{productDefinition.id}}</router-link>
                    </td>
                    <td>{{productDefinition.clientId}}</td>
                    <td>{{productDefinition.adminKey}}</td>
                    <td>{{productDefinition.productCategoryId}}</td>
                    <td>{{productDefinition.properties}}</td>
                    <td>{{productDefinition.propertyName}}</td>
                    <td>{{productDefinition.propertyValue}}</td>
                    <td>{{productDefinition.recordStatus}}</td>
                    <td>{{productDefinition.forFilter}}</td>
                    <td>
                        <div v-if="productDefinition.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productDefinition.productId.id}}">{{productDefinition.productId.name}}</router-link>
                        </div>
                    </td>
                    <td>
                        <div v-if="productDefinition.order">
                            <router-link :to="{name: 'OrderView', params: {orderId: productDefinition.order.id}}">{{productDefinition.order.orderNumber}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ProductDefinitionView', params: {productDefinitionId: productDefinition.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ProductDefinitionEdit', params: {productDefinitionId: productDefinition.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(productDefinition)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.productDefinition.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-productDefinition-heading" v-bind:title="$t('ecommerchantApp.productDefinition.delete.question')">Are you sure you want to delete this Product Definition?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-productDefinition" v-text="$t('entity.action.delete')" v-on:click="removeProductDefinition()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./product-definition.component.ts">
</script>
