<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="productDefinition">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.productDefinition.detail.title')">ProductDefinition</span> {{productDefinition.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.adminKey')">Admin Key</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.adminKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.productCategoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.properties')">Properties</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.properties}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.propertyName')">Property Name</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.propertyName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.propertyValue')">Property Value</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.propertyValue}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.recordStatus')">Record Status</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.recordStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.forFilter')">For Filter</span>
                    </dt>
                    <dd>
                        <span>{{productDefinition.forFilter}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <div v-if="productDefinition.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productDefinition.productId.id}}">{{productDefinition.productId.name}}</router-link>
                        </div>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDefinition.order')">Order</span>
                    </dt>
                    <dd>
                        <div v-if="productDefinition.order">
                            <router-link :to="{name: 'OrderView', params: {orderId: productDefinition.order.id}}">{{productDefinition.order.orderNumber}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="productDefinition.id" :to="{name: 'ProductDefinitionEdit', params: {productDefinitionId: productDefinition.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-definition-details.component.ts">
</script>
