<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.productDefinition.home.createOrEditLabel" v-text="$t('ecommerchantApp.productDefinition.home.createOrEditLabel')">Create or edit a ProductDefinition</h2>
                <div>
                    <div class="form-group" v-if="productDefinition.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productDefinition.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.clientId')" for="product-definition-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-definition-clientId"
                            :class="{'valid': !$v.productDefinition.clientId.$invalid, 'invalid': $v.productDefinition.clientId.$invalid }" v-model="$v.productDefinition.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.adminKey')" for="product-definition-adminKey">Admin Key</label>
                        <input type="text" class="form-control" name="adminKey" id="product-definition-adminKey"
                            :class="{'valid': !$v.productDefinition.adminKey.$invalid, 'invalid': $v.productDefinition.adminKey.$invalid }" v-model="$v.productDefinition.adminKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.productCategoryId')" for="product-definition-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="product-definition-productCategoryId"
                            :class="{'valid': !$v.productDefinition.productCategoryId.$invalid, 'invalid': $v.productDefinition.productCategoryId.$invalid }" v-model="$v.productDefinition.productCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.properties')" for="product-definition-properties">Properties</label>
                        <input type="text" class="form-control" name="properties" id="product-definition-properties"
                            :class="{'valid': !$v.productDefinition.properties.$invalid, 'invalid': $v.productDefinition.properties.$invalid }" v-model="$v.productDefinition.properties.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.propertyName')" for="product-definition-propertyName">Property Name</label>
                        <input type="text" class="form-control" name="propertyName" id="product-definition-propertyName"
                            :class="{'valid': !$v.productDefinition.propertyName.$invalid, 'invalid': $v.productDefinition.propertyName.$invalid }" v-model="$v.productDefinition.propertyName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.propertyValue')" for="product-definition-propertyValue">Property Value</label>
                        <input type="text" class="form-control" name="propertyValue" id="product-definition-propertyValue"
                            :class="{'valid': !$v.productDefinition.propertyValue.$invalid, 'invalid': $v.productDefinition.propertyValue.$invalid }" v-model="$v.productDefinition.propertyValue.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.recordStatus')" for="product-definition-recordStatus">Record Status</label>
                        <input type="number" class="form-control" name="recordStatus" id="product-definition-recordStatus"
                            :class="{'valid': !$v.productDefinition.recordStatus.$invalid, 'invalid': $v.productDefinition.recordStatus.$invalid }" v-model.number="$v.productDefinition.recordStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDefinition.forFilter')" for="product-definition-forFilter">For Filter</label>
                        <input type="checkbox" class="form-check" name="forFilter" id="product-definition-forFilter"
                            :class="{'valid': !$v.productDefinition.forFilter.$invalid, 'invalid': $v.productDefinition.forFilter.$invalid }" v-model="$v.productDefinition.forFilter.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.productDefinition.productId')" for="product-definition-productId">Product Id</label>
                        <select class="form-control" id="product-definition-productId" name="productId" v-model="productDefinition.productId">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="productDefinition.productId && productOption.id === productDefinition.productId.id ? productDefinition.productId : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.name}}</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.productDefinition.order')" for="product-definition-order">Order</label>
                        <select class="form-control" id="product-definition-order" name="order" v-model="productDefinition.order">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="productDefinition.order && orderOption.id === productDefinition.order.id ? productDefinition.order : orderOption" v-for="orderOption in orders" :key="orderOption.id">{{orderOption.orderNumber}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productDefinition.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-definition-update.component.ts">
</script>
