<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.orderDetails.home.title')" id="order-details-heading">Order Details</span>
            <router-link :to="{name: 'OrderDetailsCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-order-details">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.orderDetails.home.createLabel')">
                    Create new OrderDetails
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && orderDetails && orderDetails.length === 0">
            <span v-text="$t('ecommerchantApp.orderDetails.home.notFound')">No orderDetails found</span>
        </div>
        <div class="table-responsive" v-if="orderDetails && orderDetails.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.orderDetailId')">Order Detail Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.createdAt')">Created At</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.customerAddress')">Customer Address</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.customerId')">Customer Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.deliveredDate')">Delivered Date</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.email')">Email</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.fullOrderStatus')">Full Order Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.isProgressed')">Is Progressed</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.isShipped')">Is Shipped</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.orderDate')">Order Date</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.orderNumber')">Order Number</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.orderStatus')">Order Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.paymentStatus')">Payment Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.price')">Price</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.productId')">Product Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.productImage')">Product Image</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.productName')">Product Name</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.quantity')">Quantity</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.shippedDate')">Shipped Date</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.paymentMethod')">Payment Method</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.subTotal')">Sub Total</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.timeStamp')">Time Stamp</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.trackingId')">Tracking Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.trackingUrl')">Tracking Url</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.updatedAt')">Updated At</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.vendorId')">Vendor Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.verificationKey')">Verification Key</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.earnedCoins')">Earned Coins</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.giftCardAmount')">Gift Card Amount</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.giftCardId')">Gift Card Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.orderType')">Order Type</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.paymentDate')">Payment Date</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.redeemCoinAmount')">Redeem Coin Amount</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.redeemCoins')">Redeem Coins</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.shippingCharge')">Shipping Charge</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.tax')">Tax</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.orderTotal')">Order Total</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.appliedCouponAmount')">Applied Coupon Amount</span></th>
                    <th><span v-text="$t('ecommerchantApp.orderDetails.appliedPromoCode')">Applied Promo Code</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="orderDetails in orderDetails"
                    :key="orderDetails.id">
                    <td>
                        <router-link :to="{name: 'OrderDetailsView', params: {orderDetailsId: orderDetails.id}}">{{orderDetails.id}}</router-link>
                    </td>
                    <td>{{orderDetails.orderDetailId}}</td>
                    <td>{{orderDetails.clientId}}</td>
                    <td>{{orderDetails.createdAt | formatDate}}</td>
                    <td>{{orderDetails.customerAddress}}</td>
                    <td>{{orderDetails.customerId}}</td>
                    <td>{{orderDetails.deliveredDate | formatDate}}</td>
                    <td>{{orderDetails.email}}</td>
                    <td v-text="$t('ecommerchantApp.FullOrderStatus.' + orderDetails.fullOrderStatus)">{{orderDetails.fullOrderStatus}}</td>
                    <td>{{orderDetails.isProgressed}}</td>
                    <td>{{orderDetails.isShipped}}</td>
                    <td>{{orderDetails.orderDate | formatDate}}</td>
                    <td>{{orderDetails.orderNumber}}</td>
                    <td v-text="$t('ecommerchantApp.OrderStatus.' + orderDetails.orderStatus)">{{orderDetails.orderStatus}}</td>
                    <td>{{orderDetails.paymentStatus}}</td>
                    <td>{{orderDetails.price}}</td>
                    <td>{{orderDetails.productId}}</td>
                    <td>{{orderDetails.productImage}}</td>
                    <td>{{orderDetails.productName}}</td>
                    <td>{{orderDetails.quantity}}</td>
                    <td>{{orderDetails.shippedDate | formatDate}}</td>
                    <td>{{orderDetails.paymentMethod}}</td>
                    <td>{{orderDetails.subTotal}}</td>
                    <td>{{orderDetails.timeStamp | formatDate}}</td>
                    <td>{{orderDetails.trackingId}}</td>
                    <td>{{orderDetails.trackingUrl}}</td>
                    <td>{{orderDetails.updatedAt | formatDate}}</td>
                    <td>{{orderDetails.vendorId}}</td>
                    <td>{{orderDetails.verificationKey}}</td>
                    <td>{{orderDetails.earnedCoins}}</td>
                    <td>{{orderDetails.giftCardAmount}}</td>
                    <td>{{orderDetails.giftCardId}}</td>
                    <td>{{orderDetails.orderType}}</td>
                    <td>{{orderDetails.paymentDate | formatDate}}</td>
                    <td>{{orderDetails.redeemCoinAmount}}</td>
                    <td>{{orderDetails.redeemCoins}}</td>
                    <td>{{orderDetails.shippingCharge}}</td>
                    <td>{{orderDetails.tax}}</td>
                    <td>{{orderDetails.orderTotal}}</td>
                    <td>{{orderDetails.appliedCouponAmount}}</td>
                    <td>{{orderDetails.appliedPromoCode}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'OrderDetailsView', params: {orderDetailsId: orderDetails.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'OrderDetailsEdit', params: {orderDetailsId: orderDetails.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(orderDetails)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.orderDetails.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-orderDetails-heading" v-bind:title="$t('ecommerchantApp.orderDetails.delete.question')">Are you sure you want to delete this Order Details?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-orderDetails" v-text="$t('entity.action.delete')" v-on:click="removeOrderDetails()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./order-details.component.ts">
</script>
