<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="orderDetails">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.orderDetails.detail.title')">OrderDetails</span> {{orderDetails.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.orderDetailId')">Order Detail Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.orderDetailId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.createdAt')">Created At</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.createdAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.customerAddress')">Customer Address</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.customerAddress}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.customerId')">Customer Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.customerId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.deliveredDate')">Delivered Date</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.deliveredDate | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.email')">Email</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.email}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.fullOrderStatus')">Full Order Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerchantApp.FullOrderStatus.' + orderDetails.fullOrderStatus)">{{orderDetails.fullOrderStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.isProgressed')">Is Progressed</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.isProgressed}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.isShipped')">Is Shipped</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.isShipped}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.orderDate')">Order Date</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.orderDate | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.orderNumber')">Order Number</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.orderNumber}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.orderStatus')">Order Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerchantApp.OrderStatus.' + orderDetails.orderStatus)">{{orderDetails.orderStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.paymentStatus')">Payment Status</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.paymentStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.price')">Price</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.price}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.productId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.productImage')">Product Image</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.productImage}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.productName')">Product Name</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.productName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.quantity')">Quantity</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.quantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.shippedDate')">Shipped Date</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.shippedDate | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.paymentMethod')">Payment Method</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.paymentMethod}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.subTotal')">Sub Total</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.subTotal}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.timeStamp')">Time Stamp</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.timeStamp | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.trackingId')">Tracking Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.trackingId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.trackingUrl')">Tracking Url</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.trackingUrl}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.updatedAt')">Updated At</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.updatedAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.vendorId')">Vendor Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.vendorId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.verificationKey')">Verification Key</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.verificationKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.earnedCoins')">Earned Coins</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.earnedCoins}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.giftCardAmount')">Gift Card Amount</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.giftCardAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.giftCardId')">Gift Card Id</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.giftCardId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.orderType')">Order Type</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.orderType}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.paymentDate')">Payment Date</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.paymentDate | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.redeemCoinAmount')">Redeem Coin Amount</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.redeemCoinAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.redeemCoins')">Redeem Coins</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.redeemCoins}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.shippingCharge')">Shipping Charge</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.shippingCharge}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.tax')">Tax</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.tax}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.orderTotal')">Order Total</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.orderTotal}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.appliedCouponAmount')">Applied Coupon Amount</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.appliedCouponAmount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.orderDetails.appliedPromoCode')">Applied Promo Code</span>
                    </dt>
                    <dd>
                        <span>{{orderDetails.appliedPromoCode}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="orderDetails.id" :to="{name: 'OrderDetailsEdit', params: {orderDetailsId: orderDetails.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./order-details-details.component.ts">
</script>
