<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.orderDetails.home.createOrEditLabel" v-text="$t('ecommerchantApp.orderDetails.home.createOrEditLabel')">Create or edit a OrderDetails</h2>
                <div>
                    <div class="form-group" v-if="orderDetails.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="orderDetails.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.orderDetailId')" for="order-details-orderDetailId">Order Detail Id</label>
                        <input type="number" class="form-control" name="orderDetailId" id="order-details-orderDetailId"
                            :class="{'valid': !$v.orderDetails.orderDetailId.$invalid, 'invalid': $v.orderDetails.orderDetailId.$invalid }" v-model.number="$v.orderDetails.orderDetailId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.clientId')" for="order-details-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="order-details-clientId"
                            :class="{'valid': !$v.orderDetails.clientId.$invalid, 'invalid': $v.orderDetails.clientId.$invalid }" v-model="$v.orderDetails.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.createdAt')" for="order-details-createdAt">Created At</label>
                        <div class="d-flex">
                            <input id="order-details-createdAt" type="datetime-local" class="form-control" name="createdAt" :class="{'valid': !$v.orderDetails.createdAt.$invalid, 'invalid': $v.orderDetails.createdAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.createdAt.$model)"
                            @change="updateInstantField('createdAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.customerAddress')" for="order-details-customerAddress">Customer Address</label>
                        <input type="text" class="form-control" name="customerAddress" id="order-details-customerAddress"
                            :class="{'valid': !$v.orderDetails.customerAddress.$invalid, 'invalid': $v.orderDetails.customerAddress.$invalid }" v-model="$v.orderDetails.customerAddress.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.customerId')" for="order-details-customerId">Customer Id</label>
                        <input type="text" class="form-control" name="customerId" id="order-details-customerId"
                            :class="{'valid': !$v.orderDetails.customerId.$invalid, 'invalid': $v.orderDetails.customerId.$invalid }" v-model="$v.orderDetails.customerId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.deliveredDate')" for="order-details-deliveredDate">Delivered Date</label>
                        <div class="d-flex">
                            <input id="order-details-deliveredDate" type="datetime-local" class="form-control" name="deliveredDate" :class="{'valid': !$v.orderDetails.deliveredDate.$invalid, 'invalid': $v.orderDetails.deliveredDate.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.deliveredDate.$model)"
                            @change="updateInstantField('deliveredDate', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.email')" for="order-details-email">Email</label>
                        <input type="text" class="form-control" name="email" id="order-details-email"
                            :class="{'valid': !$v.orderDetails.email.$invalid, 'invalid': $v.orderDetails.email.$invalid }" v-model="$v.orderDetails.email.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.fullOrderStatus')" for="order-details-fullOrderStatus">Full Order Status</label>
                        <select class="form-control" name="fullOrderStatus" :class="{'valid': !$v.orderDetails.fullOrderStatus.$invalid, 'invalid': $v.orderDetails.fullOrderStatus.$invalid }" v-model="$v.orderDetails.fullOrderStatus.$model" id="order-details-fullOrderStatus" >
                            <option value="Delivered" v-bind:label="$t('ecommerchantApp.FullOrderStatus.Delivered')">Delivered</option>
                            <option value="Shipped" v-bind:label="$t('ecommerchantApp.FullOrderStatus.Shipped')">Shipped</option>
                            <option value="Processing" v-bind:label="$t('ecommerchantApp.FullOrderStatus.Processing')">Processing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.isProgressed')" for="order-details-isProgressed">Is Progressed</label>
                        <input type="checkbox" class="form-check" name="isProgressed" id="order-details-isProgressed"
                            :class="{'valid': !$v.orderDetails.isProgressed.$invalid, 'invalid': $v.orderDetails.isProgressed.$invalid }" v-model="$v.orderDetails.isProgressed.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.isShipped')" for="order-details-isShipped">Is Shipped</label>
                        <input type="checkbox" class="form-check" name="isShipped" id="order-details-isShipped"
                            :class="{'valid': !$v.orderDetails.isShipped.$invalid, 'invalid': $v.orderDetails.isShipped.$invalid }" v-model="$v.orderDetails.isShipped.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.orderDate')" for="order-details-orderDate">Order Date</label>
                        <div class="d-flex">
                            <input id="order-details-orderDate" type="datetime-local" class="form-control" name="orderDate" :class="{'valid': !$v.orderDetails.orderDate.$invalid, 'invalid': $v.orderDetails.orderDate.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.orderDate.$model)"
                            @change="updateInstantField('orderDate', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.orderNumber')" for="order-details-orderNumber">Order Number</label>
                        <input type="text" class="form-control" name="orderNumber" id="order-details-orderNumber"
                            :class="{'valid': !$v.orderDetails.orderNumber.$invalid, 'invalid': $v.orderDetails.orderNumber.$invalid }" v-model="$v.orderDetails.orderNumber.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.orderStatus')" for="order-details-orderStatus">Order Status</label>
                        <select class="form-control" name="orderStatus" :class="{'valid': !$v.orderDetails.orderStatus.$invalid, 'invalid': $v.orderDetails.orderStatus.$invalid }" v-model="$v.orderDetails.orderStatus.$model" id="order-details-orderStatus" >
                            <option value="Delivered" v-bind:label="$t('ecommerchantApp.OrderStatus.Delivered')">Delivered</option>
                            <option value="Shipped" v-bind:label="$t('ecommerchantApp.OrderStatus.Shipped')">Shipped</option>
                            <option value="Processing" v-bind:label="$t('ecommerchantApp.OrderStatus.Processing')">Processing</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.paymentStatus')" for="order-details-paymentStatus">Payment Status</label>
                        <input type="text" class="form-control" name="paymentStatus" id="order-details-paymentStatus"
                            :class="{'valid': !$v.orderDetails.paymentStatus.$invalid, 'invalid': $v.orderDetails.paymentStatus.$invalid }" v-model="$v.orderDetails.paymentStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.price')" for="order-details-price">Price</label>
                        <input type="number" class="form-control" name="price" id="order-details-price"
                            :class="{'valid': !$v.orderDetails.price.$invalid, 'invalid': $v.orderDetails.price.$invalid }" v-model.number="$v.orderDetails.price.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.productId')" for="order-details-productId">Product Id</label>
                        <input type="text" class="form-control" name="productId" id="order-details-productId"
                            :class="{'valid': !$v.orderDetails.productId.$invalid, 'invalid': $v.orderDetails.productId.$invalid }" v-model="$v.orderDetails.productId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.productImage')" for="order-details-productImage">Product Image</label>
                        <input type="text" class="form-control" name="productImage" id="order-details-productImage"
                            :class="{'valid': !$v.orderDetails.productImage.$invalid, 'invalid': $v.orderDetails.productImage.$invalid }" v-model="$v.orderDetails.productImage.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.productName')" for="order-details-productName">Product Name</label>
                        <input type="text" class="form-control" name="productName" id="order-details-productName"
                            :class="{'valid': !$v.orderDetails.productName.$invalid, 'invalid': $v.orderDetails.productName.$invalid }" v-model="$v.orderDetails.productName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.quantity')" for="order-details-quantity">Quantity</label>
                        <input type="number" class="form-control" name="quantity" id="order-details-quantity"
                            :class="{'valid': !$v.orderDetails.quantity.$invalid, 'invalid': $v.orderDetails.quantity.$invalid }" v-model.number="$v.orderDetails.quantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.shippedDate')" for="order-details-shippedDate">Shipped Date</label>
                        <div class="d-flex">
                            <input id="order-details-shippedDate" type="datetime-local" class="form-control" name="shippedDate" :class="{'valid': !$v.orderDetails.shippedDate.$invalid, 'invalid': $v.orderDetails.shippedDate.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.shippedDate.$model)"
                            @change="updateInstantField('shippedDate', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.paymentMethod')" for="order-details-paymentMethod">Payment Method</label>
                        <input type="text" class="form-control" name="paymentMethod" id="order-details-paymentMethod"
                            :class="{'valid': !$v.orderDetails.paymentMethod.$invalid, 'invalid': $v.orderDetails.paymentMethod.$invalid }" v-model="$v.orderDetails.paymentMethod.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.subTotal')" for="order-details-subTotal">Sub Total</label>
                        <input type="number" class="form-control" name="subTotal" id="order-details-subTotal"
                            :class="{'valid': !$v.orderDetails.subTotal.$invalid, 'invalid': $v.orderDetails.subTotal.$invalid }" v-model.number="$v.orderDetails.subTotal.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.timeStamp')" for="order-details-timeStamp">Time Stamp</label>
                        <div class="d-flex">
                            <input id="order-details-timeStamp" type="datetime-local" class="form-control" name="timeStamp" :class="{'valid': !$v.orderDetails.timeStamp.$invalid, 'invalid': $v.orderDetails.timeStamp.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.timeStamp.$model)"
                            @change="updateInstantField('timeStamp', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.trackingId')" for="order-details-trackingId">Tracking Id</label>
                        <input type="text" class="form-control" name="trackingId" id="order-details-trackingId"
                            :class="{'valid': !$v.orderDetails.trackingId.$invalid, 'invalid': $v.orderDetails.trackingId.$invalid }" v-model="$v.orderDetails.trackingId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.trackingUrl')" for="order-details-trackingUrl">Tracking Url</label>
                        <input type="text" class="form-control" name="trackingUrl" id="order-details-trackingUrl"
                            :class="{'valid': !$v.orderDetails.trackingUrl.$invalid, 'invalid': $v.orderDetails.trackingUrl.$invalid }" v-model="$v.orderDetails.trackingUrl.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.updatedAt')" for="order-details-updatedAt">Updated At</label>
                        <div class="d-flex">
                            <input id="order-details-updatedAt" type="datetime-local" class="form-control" name="updatedAt" :class="{'valid': !$v.orderDetails.updatedAt.$invalid, 'invalid': $v.orderDetails.updatedAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.updatedAt.$model)"
                            @change="updateInstantField('updatedAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.vendorId')" for="order-details-vendorId">Vendor Id</label>
                        <input type="text" class="form-control" name="vendorId" id="order-details-vendorId"
                            :class="{'valid': !$v.orderDetails.vendorId.$invalid, 'invalid': $v.orderDetails.vendorId.$invalid }" v-model="$v.orderDetails.vendorId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.verificationKey')" for="order-details-verificationKey">Verification Key</label>
                        <input type="text" class="form-control" name="verificationKey" id="order-details-verificationKey"
                            :class="{'valid': !$v.orderDetails.verificationKey.$invalid, 'invalid': $v.orderDetails.verificationKey.$invalid }" v-model="$v.orderDetails.verificationKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.earnedCoins')" for="order-details-earnedCoins">Earned Coins</label>
                        <input type="number" class="form-control" name="earnedCoins" id="order-details-earnedCoins"
                            :class="{'valid': !$v.orderDetails.earnedCoins.$invalid, 'invalid': $v.orderDetails.earnedCoins.$invalid }" v-model.number="$v.orderDetails.earnedCoins.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.giftCardAmount')" for="order-details-giftCardAmount">Gift Card Amount</label>
                        <input type="number" class="form-control" name="giftCardAmount" id="order-details-giftCardAmount"
                            :class="{'valid': !$v.orderDetails.giftCardAmount.$invalid, 'invalid': $v.orderDetails.giftCardAmount.$invalid }" v-model.number="$v.orderDetails.giftCardAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.giftCardId')" for="order-details-giftCardId">Gift Card Id</label>
                        <input type="text" class="form-control" name="giftCardId" id="order-details-giftCardId"
                            :class="{'valid': !$v.orderDetails.giftCardId.$invalid, 'invalid': $v.orderDetails.giftCardId.$invalid }" v-model="$v.orderDetails.giftCardId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.orderType')" for="order-details-orderType">Order Type</label>
                        <input type="text" class="form-control" name="orderType" id="order-details-orderType"
                            :class="{'valid': !$v.orderDetails.orderType.$invalid, 'invalid': $v.orderDetails.orderType.$invalid }" v-model="$v.orderDetails.orderType.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.paymentDate')" for="order-details-paymentDate">Payment Date</label>
                        <div class="d-flex">
                            <input id="order-details-paymentDate" type="datetime-local" class="form-control" name="paymentDate" :class="{'valid': !$v.orderDetails.paymentDate.$invalid, 'invalid': $v.orderDetails.paymentDate.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.orderDetails.paymentDate.$model)"
                            @change="updateInstantField('paymentDate', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.redeemCoinAmount')" for="order-details-redeemCoinAmount">Redeem Coin Amount</label>
                        <input type="number" class="form-control" name="redeemCoinAmount" id="order-details-redeemCoinAmount"
                            :class="{'valid': !$v.orderDetails.redeemCoinAmount.$invalid, 'invalid': $v.orderDetails.redeemCoinAmount.$invalid }" v-model.number="$v.orderDetails.redeemCoinAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.redeemCoins')" for="order-details-redeemCoins">Redeem Coins</label>
                        <input type="number" class="form-control" name="redeemCoins" id="order-details-redeemCoins"
                            :class="{'valid': !$v.orderDetails.redeemCoins.$invalid, 'invalid': $v.orderDetails.redeemCoins.$invalid }" v-model.number="$v.orderDetails.redeemCoins.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.shippingCharge')" for="order-details-shippingCharge">Shipping Charge</label>
                        <input type="number" class="form-control" name="shippingCharge" id="order-details-shippingCharge"
                            :class="{'valid': !$v.orderDetails.shippingCharge.$invalid, 'invalid': $v.orderDetails.shippingCharge.$invalid }" v-model.number="$v.orderDetails.shippingCharge.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.tax')" for="order-details-tax">Tax</label>
                        <input type="number" class="form-control" name="tax" id="order-details-tax"
                            :class="{'valid': !$v.orderDetails.tax.$invalid, 'invalid': $v.orderDetails.tax.$invalid }" v-model.number="$v.orderDetails.tax.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.orderTotal')" for="order-details-orderTotal">Order Total</label>
                        <input type="number" class="form-control" name="orderTotal" id="order-details-orderTotal"
                            :class="{'valid': !$v.orderDetails.orderTotal.$invalid, 'invalid': $v.orderDetails.orderTotal.$invalid }" v-model.number="$v.orderDetails.orderTotal.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.appliedCouponAmount')" for="order-details-appliedCouponAmount">Applied Coupon Amount</label>
                        <input type="number" class="form-control" name="appliedCouponAmount" id="order-details-appliedCouponAmount"
                            :class="{'valid': !$v.orderDetails.appliedCouponAmount.$invalid, 'invalid': $v.orderDetails.appliedCouponAmount.$invalid }" v-model.number="$v.orderDetails.appliedCouponAmount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.orderDetails.appliedPromoCode')" for="order-details-appliedPromoCode">Applied Promo Code</label>
                        <input type="text" class="form-control" name="appliedPromoCode" id="order-details-appliedPromoCode"
                            :class="{'valid': !$v.orderDetails.appliedPromoCode.$invalid, 'invalid': $v.orderDetails.appliedPromoCode.$invalid }" v-model="$v.orderDetails.appliedPromoCode.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.orderDetails.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./order-details-update.component.ts">
</script>
