<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="productDetails">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.productDetails.detail.title')">ProductDetails</span> {{productDetails.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.adminKey')">Admin Key</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.adminKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.background')">Background</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.background}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.image1')">Image 1</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.image1}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.image2')">Image 2</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.image2}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.image3')">Image 3</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.image3}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.image4')">Image 4</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.image4}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.productCategoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.recordStatus')">Record Status</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.recordStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.shortDescription')">Short Description</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.shortDescription}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.unit')">Unit</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.unit}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.weight')">Weight</span>
                    </dt>
                    <dd>
                        <span>{{productDetails.weight}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productDetails.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <div v-if="productDetails.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productDetails.productId.id}}">{{productDetails.productId.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="productDetails.id" :to="{name: 'ProductDetailsEdit', params: {productDetailsId: productDetails.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-details-details.component.ts">
</script>
