<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.productDetails.home.title')" id="product-details-heading">Product Details</span>
            <router-link :to="{name: 'ProductDetailsCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-details">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.productDetails.home.createLabel')">
                    Create new ProductDetails
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && productDetails && productDetails.length === 0">
            <span v-text="$t('ecommerchantApp.productDetails.home.notFound')">No productDetails found</span>
        </div>
        <div class="table-responsive" v-if="productDetails && productDetails.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.adminKey')">Admin Key</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.background')">Background</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.description')">Description</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.image1')">Image 1</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.image2')">Image 2</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.image3')">Image 3</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.image4')">Image 4</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.productCategoryId')">Product Category Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.recordStatus')">Record Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.shortDescription')">Short Description</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.unit')">Unit</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.weight')">Weight</span></th>
                    <th><span v-text="$t('ecommerchantApp.productDetails.productId')">Product Id</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="productDetails in productDetails"
                    :key="productDetails.id">
                    <td>
                        <router-link :to="{name: 'ProductDetailsView', params: {productDetailsId: productDetails.id}}">{{productDetails.id}}</router-link>
                    </td>
                    <td>{{productDetails.clientId}}</td>
                    <td>{{productDetails.adminKey}}</td>
                    <td>{{productDetails.background}}</td>
                    <td>{{productDetails.description}}</td>
                    <td>{{productDetails.image1}}</td>
                    <td>{{productDetails.image2}}</td>
                    <td>{{productDetails.image3}}</td>
                    <td>{{productDetails.image4}}</td>
                    <td>{{productDetails.productCategoryId}}</td>
                    <td>{{productDetails.recordStatus}}</td>
                    <td>{{productDetails.shortDescription}}</td>
                    <td>{{productDetails.unit}}</td>
                    <td>{{productDetails.weight}}</td>
                    <td>
                        <div v-if="productDetails.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productDetails.productId.id}}">{{productDetails.productId.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ProductDetailsView', params: {productDetailsId: productDetails.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ProductDetailsEdit', params: {productDetailsId: productDetails.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(productDetails)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.productDetails.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-productDetails-heading" v-bind:title="$t('ecommerchantApp.productDetails.delete.question')">Are you sure you want to delete this Product Details?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-productDetails" v-text="$t('entity.action.delete')" v-on:click="removeProductDetails()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./product-details-list.component.ts">
</script>
