<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.productDetails.home.createOrEditLabel" v-text="$t('ecommerchantApp.productDetails.home.createOrEditLabel')">Create or edit a ProductDetails</h2>
                <div>
                    <div class="form-group" v-if="productDetails.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productDetails.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.clientId')" for="product-details-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-details-clientId"
                            :class="{'valid': !$v.productDetails.clientId.$invalid, 'invalid': $v.productDetails.clientId.$invalid }" v-model="$v.productDetails.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.adminKey')" for="product-details-adminKey">Admin Key</label>
                        <input type="text" class="form-control" name="adminKey" id="product-details-adminKey"
                            :class="{'valid': !$v.productDetails.adminKey.$invalid, 'invalid': $v.productDetails.adminKey.$invalid }" v-model="$v.productDetails.adminKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.background')" for="product-details-background">Background</label>
                        <input type="text" class="form-control" name="background" id="product-details-background"
                            :class="{'valid': !$v.productDetails.background.$invalid, 'invalid': $v.productDetails.background.$invalid }" v-model="$v.productDetails.background.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.description')" for="product-details-description">Description</label>
                        <input type="text" class="form-control" name="description" id="product-details-description"
                            :class="{'valid': !$v.productDetails.description.$invalid, 'invalid': $v.productDetails.description.$invalid }" v-model="$v.productDetails.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.image1')" for="product-details-image1">Image 1</label>
                        <input type="text" class="form-control" name="image1" id="product-details-image1"
                            :class="{'valid': !$v.productDetails.image1.$invalid, 'invalid': $v.productDetails.image1.$invalid }" v-model="$v.productDetails.image1.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.image2')" for="product-details-image2">Image 2</label>
                        <input type="text" class="form-control" name="image2" id="product-details-image2"
                            :class="{'valid': !$v.productDetails.image2.$invalid, 'invalid': $v.productDetails.image2.$invalid }" v-model="$v.productDetails.image2.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.image3')" for="product-details-image3">Image 3</label>
                        <input type="text" class="form-control" name="image3" id="product-details-image3"
                            :class="{'valid': !$v.productDetails.image3.$invalid, 'invalid': $v.productDetails.image3.$invalid }" v-model="$v.productDetails.image3.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.image4')" for="product-details-image4">Image 4</label>
                        <input type="text" class="form-control" name="image4" id="product-details-image4"
                            :class="{'valid': !$v.productDetails.image4.$invalid, 'invalid': $v.productDetails.image4.$invalid }" v-model="$v.productDetails.image4.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.productCategoryId')" for="product-details-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="product-details-productCategoryId"
                            :class="{'valid': !$v.productDetails.productCategoryId.$invalid, 'invalid': $v.productDetails.productCategoryId.$invalid }" v-model="$v.productDetails.productCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.recordStatus')" for="product-details-recordStatus">Record Status</label>
                        <input type="number" class="form-control" name="recordStatus" id="product-details-recordStatus"
                            :class="{'valid': !$v.productDetails.recordStatus.$invalid, 'invalid': $v.productDetails.recordStatus.$invalid }" v-model.number="$v.productDetails.recordStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.shortDescription')" for="product-details-shortDescription">Short Description</label>
                        <input type="text" class="form-control" name="shortDescription" id="product-details-shortDescription"
                            :class="{'valid': !$v.productDetails.shortDescription.$invalid, 'invalid': $v.productDetails.shortDescription.$invalid }" v-model="$v.productDetails.shortDescription.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.unit')" for="product-details-unit">Unit</label>
                        <input type="text" class="form-control" name="unit" id="product-details-unit"
                            :class="{'valid': !$v.productDetails.unit.$invalid, 'invalid': $v.productDetails.unit.$invalid }" v-model="$v.productDetails.unit.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productDetails.weight')" for="product-details-weight">Weight</label>
                        <input type="number" class="form-control" name="weight" id="product-details-weight"
                            :class="{'valid': !$v.productDetails.weight.$invalid, 'invalid': $v.productDetails.weight.$invalid }" v-model.number="$v.productDetails.weight.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.productDetails.productId')" for="product-details-productId">Product Id</label>
                        <select class="form-control" id="product-details-productId" name="productId" v-model="productDetails.productId">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="productDetails.productId && productOption.id === productDetails.productId.id ? productDetails.productId : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productDetails.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-details-update.component.ts">
</script>
