<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="productGroup">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.productGroup.detail.title')">ProductGroup</span> {{productGroup.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{productGroup.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.adminKey')">Admin Key</span>
                    </dt>
                    <dd>
                        <span>{{productGroup.adminKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.groupKey')">Group Key</span>
                    </dt>
                    <dd>
                        <span>{{productGroup.groupKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.groupValue')">Group Value</span>
                    </dt>
                    <dd>
                        <span>{{productGroup.groupValue}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{productGroup.productCategoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.productGroupId')">Product Group Id</span>
                    </dt>
                    <dd>
                        <span>{{productGroup.productGroupId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productGroup.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <div v-if="productGroup.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productGroup.productId.id}}">{{productGroup.productId.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="productGroup.id" :to="{name: 'ProductGroupEdit', params: {productGroupId: productGroup.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-group-details.component.ts">
</script>
