<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.productGroup.home.createOrEditLabel" v-text="$t('ecommerchantApp.productGroup.home.createOrEditLabel')">Create or edit a ProductGroup</h2>
                <div>
                    <div class="form-group" v-if="productGroup.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productGroup.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productGroup.clientId')" for="product-group-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-group-clientId"
                            :class="{'valid': !$v.productGroup.clientId.$invalid, 'invalid': $v.productGroup.clientId.$invalid }" v-model="$v.productGroup.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productGroup.adminKey')" for="product-group-adminKey">Admin Key</label>
                        <input type="text" class="form-control" name="adminKey" id="product-group-adminKey"
                            :class="{'valid': !$v.productGroup.adminKey.$invalid, 'invalid': $v.productGroup.adminKey.$invalid }" v-model="$v.productGroup.adminKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productGroup.groupKey')" for="product-group-groupKey">Group Key</label>
                        <input type="text" class="form-control" name="groupKey" id="product-group-groupKey"
                            :class="{'valid': !$v.productGroup.groupKey.$invalid, 'invalid': $v.productGroup.groupKey.$invalid }" v-model="$v.productGroup.groupKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productGroup.groupValue')" for="product-group-groupValue">Group Value</label>
                        <input type="text" class="form-control" name="groupValue" id="product-group-groupValue"
                            :class="{'valid': !$v.productGroup.groupValue.$invalid, 'invalid': $v.productGroup.groupValue.$invalid }" v-model="$v.productGroup.groupValue.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productGroup.productCategoryId')" for="product-group-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="product-group-productCategoryId"
                            :class="{'valid': !$v.productGroup.productCategoryId.$invalid, 'invalid': $v.productGroup.productCategoryId.$invalid }" v-model="$v.productGroup.productCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productGroup.productGroupId')" for="product-group-productGroupId">Product Group Id</label>
                        <input type="text" class="form-control" name="productGroupId" id="product-group-productGroupId"
                            :class="{'valid': !$v.productGroup.productGroupId.$invalid, 'invalid': $v.productGroup.productGroupId.$invalid }" v-model="$v.productGroup.productGroupId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.productGroup.productId')" for="product-group-productId">Product Id</label>
                        <select class="form-control" id="product-group-productId" name="productId" v-model="productGroup.productId">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="productGroup.productId && productOption.id === productGroup.productId.id ? productGroup.productId : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productGroup.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-group-update.component.ts">
</script>
