<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.productGroup.home.title')" id="product-group-heading">Product Groups</span>
            <router-link :to="{name: 'ProductGroupCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-group">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.productGroup.home.createLabel')">
                    Create new ProductGroup
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && productGroups && productGroups.length === 0">
            <span v-text="$t('ecommerchantApp.productGroup.home.notFound')">No productGroups found</span>
        </div>
        <div class="table-responsive" v-if="productGroups && productGroups.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.adminKey')">Admin Key</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.groupKey')">Group Key</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.groupValue')">Group Value</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.productCategoryId')">Product Category Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.productGroupId')">Product Group Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productGroup.productId')">Product Id</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="productGroup in productGroups"
                    :key="productGroup.id">
                    <td>
                        <router-link :to="{name: 'ProductGroupView', params: {productGroupId: productGroup.id}}">{{productGroup.id}}</router-link>
                    </td>
                    <td>{{productGroup.clientId}}</td>
                    <td>{{productGroup.adminKey}}</td>
                    <td>{{productGroup.groupKey}}</td>
                    <td>{{productGroup.groupValue}}</td>
                    <td>{{productGroup.productCategoryId}}</td>
                    <td>{{productGroup.productGroupId}}</td>
                    <td>
                        <div v-if="productGroup.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productGroup.productId.id}}">{{productGroup.productId.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ProductGroupView', params: {productGroupId: productGroup.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ProductGroupEdit', params: {productGroupId: productGroup.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(productGroup)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.productGroup.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-productGroup-heading" v-bind:title="$t('ecommerchantApp.productGroup.delete.question')">Are you sure you want to delete this Product Group?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-productGroup" v-text="$t('entity.action.delete')" v-on:click="removeProductGroup()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./product-group.component.ts">
</script>
