<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.appUser.home.createOrEditLabel" v-text="$t('ecommerchantApp.appUser.home.createOrEditLabel')">Create or edit a AppUser</h2>
                <div>
                    <div class="form-group" v-if="appUser.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="appUser.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.customerId')" for="app-user-customerId">Customer Id</label>
                        <input type="text" class="form-control" name="customerId" id="app-user-customerId"
                            :class="{'valid': !$v.appUser.customerId.$invalid, 'invalid': $v.appUser.customerId.$invalid }" v-model="$v.appUser.customerId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.clientId')" for="app-user-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="app-user-clientId"
                            :class="{'valid': !$v.appUser.clientId.$invalid, 'invalid': $v.appUser.clientId.$invalid }" v-model="$v.appUser.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.identifierId')" for="app-user-identifierId">Identifier Id</label>
                        <input type="text" class="form-control" name="identifierId" id="app-user-identifierId"
                            :class="{'valid': !$v.appUser.identifierId.$invalid, 'invalid': $v.appUser.identifierId.$invalid }" v-model="$v.appUser.identifierId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.createdAt')" for="app-user-createdAt">Created At</label>
                        <div class="d-flex">
                            <input id="app-user-createdAt" type="datetime-local" class="form-control" name="createdAt" :class="{'valid': !$v.appUser.createdAt.$invalid, 'invalid': $v.appUser.createdAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.appUser.createdAt.$model)"
                            @change="updateInstantField('createdAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.email')" for="app-user-email">Email</label>
                        <input type="text" class="form-control" name="email" id="app-user-email"
                            :class="{'valid': !$v.appUser.email.$invalid, 'invalid': $v.appUser.email.$invalid }" v-model="$v.appUser.email.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.firstName')" for="app-user-firstName">First Name</label>
                        <input type="text" class="form-control" name="firstName" id="app-user-firstName"
                            :class="{'valid': !$v.appUser.firstName.$invalid, 'invalid': $v.appUser.firstName.$invalid }" v-model="$v.appUser.firstName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.isBlocked')" for="app-user-isBlocked">Is Blocked</label>
                        <input type="checkbox" class="form-check" name="isBlocked" id="app-user-isBlocked"
                            :class="{'valid': !$v.appUser.isBlocked.$invalid, 'invalid': $v.appUser.isBlocked.$invalid }" v-model="$v.appUser.isBlocked.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.isCustomer')" for="app-user-isCustomer">Is Customer</label>
                        <input type="checkbox" class="form-check" name="isCustomer" id="app-user-isCustomer"
                            :class="{'valid': !$v.appUser.isCustomer.$invalid, 'invalid': $v.appUser.isCustomer.$invalid }" v-model="$v.appUser.isCustomer.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.isInactive')" for="app-user-isInactive">Is Inactive</label>
                        <input type="checkbox" class="form-check" name="isInactive" id="app-user-isInactive"
                            :class="{'valid': !$v.appUser.isInactive.$invalid, 'invalid': $v.appUser.isInactive.$invalid }" v-model="$v.appUser.isInactive.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.isVendor')" for="app-user-isVendor">Is Vendor</label>
                        <input type="checkbox" class="form-check" name="isVendor" id="app-user-isVendor"
                            :class="{'valid': !$v.appUser.isVendor.$invalid, 'invalid': $v.appUser.isVendor.$invalid }" v-model="$v.appUser.isVendor.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.lastLogin')" for="app-user-lastLogin">Last Login</label>
                        <div class="d-flex">
                            <input id="app-user-lastLogin" type="datetime-local" class="form-control" name="lastLogin" :class="{'valid': !$v.appUser.lastLogin.$invalid, 'invalid': $v.appUser.lastLogin.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.appUser.lastLogin.$model)"
                            @change="updateInstantField('lastLogin', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.lastName')" for="app-user-lastName">Last Name</label>
                        <input type="text" class="form-control" name="lastName" id="app-user-lastName"
                            :class="{'valid': !$v.appUser.lastName.$invalid, 'invalid': $v.appUser.lastName.$invalid }" v-model="$v.appUser.lastName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.loginOtp')" for="app-user-loginOtp">Login Otp</label>
                        <input type="text" class="form-control" name="loginOtp" id="app-user-loginOtp"
                            :class="{'valid': !$v.appUser.loginOtp.$invalid, 'invalid': $v.appUser.loginOtp.$invalid }" v-model="$v.appUser.loginOtp.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.loginStatus')" for="app-user-loginStatus">Login Status</label>
                        <input type="number" class="form-control" name="loginStatus" id="app-user-loginStatus"
                            :class="{'valid': !$v.appUser.loginStatus.$invalid, 'invalid': $v.appUser.loginStatus.$invalid }" v-model.number="$v.appUser.loginStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.loginCount')" for="app-user-loginCount">Login Count</label>
                        <input type="number" class="form-control" name="loginCount" id="app-user-loginCount"
                            :class="{'valid': !$v.appUser.loginCount.$invalid, 'invalid': $v.appUser.loginCount.$invalid }" v-model.number="$v.appUser.loginCount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.otpTimestamp')" for="app-user-otpTimestamp">Otp Timestamp</label>
                        <div class="d-flex">
                            <input id="app-user-otpTimestamp" type="datetime-local" class="form-control" name="otpTimestamp" :class="{'valid': !$v.appUser.otpTimestamp.$invalid, 'invalid': $v.appUser.otpTimestamp.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.appUser.otpTimestamp.$model)"
                            @change="updateInstantField('otpTimestamp', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.password')" for="app-user-password">Password</label>
                        <input type="text" class="form-control" name="password" id="app-user-password"
                            :class="{'valid': !$v.appUser.password.$invalid, 'invalid': $v.appUser.password.$invalid }" v-model="$v.appUser.password.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.phone')" for="app-user-phone">Phone</label>
                        <input type="text" class="form-control" name="phone" id="app-user-phone"
                            :class="{'valid': !$v.appUser.phone.$invalid, 'invalid': $v.appUser.phone.$invalid }" v-model="$v.appUser.phone.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.resetToken')" for="app-user-resetToken">Reset Token</label>
                        <input type="text" class="form-control" name="resetToken" id="app-user-resetToken"
                            :class="{'valid': !$v.appUser.resetToken.$invalid, 'invalid': $v.appUser.resetToken.$invalid }" v-model="$v.appUser.resetToken.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.timestamp')" for="app-user-timestamp">Timestamp</label>
                        <div class="d-flex">
                            <input id="app-user-timestamp" type="datetime-local" class="form-control" name="timestamp" :class="{'valid': !$v.appUser.timestamp.$invalid, 'invalid': $v.appUser.timestamp.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.appUser.timestamp.$model)"
                            @change="updateInstantField('timestamp', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.updatedAt')" for="app-user-updatedAt">Updated At</label>
                        <div class="d-flex">
                            <input id="app-user-updatedAt" type="datetime-local" class="form-control" name="updatedAt" :class="{'valid': !$v.appUser.updatedAt.$invalid, 'invalid': $v.appUser.updatedAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.appUser.updatedAt.$model)"
                            @change="updateInstantField('updatedAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.userRole')" for="app-user-userRole">User Role</label>
                        <input type="text" class="form-control" name="userRole" id="app-user-userRole"
                            :class="{'valid': !$v.appUser.userRole.$invalid, 'invalid': $v.appUser.userRole.$invalid }" v-model="$v.appUser.userRole.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.userName')" for="app-user-userName">User Name</label>
                        <input type="text" class="form-control" name="userName" id="app-user-userName"
                            :class="{'valid': !$v.appUser.userName.$invalid, 'invalid': $v.appUser.userName.$invalid }" v-model="$v.appUser.userName.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.isAgent')" for="app-user-isAgent">Is Agent</label>
                        <input type="checkbox" class="form-check" name="isAgent" id="app-user-isAgent"
                            :class="{'valid': !$v.appUser.isAgent.$invalid, 'invalid': $v.appUser.isAgent.$invalid }" v-model="$v.appUser.isAgent.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.isBankCustomer')" for="app-user-isBankCustomer">Is Bank Customer</label>
                        <input type="checkbox" class="form-check" name="isBankCustomer" id="app-user-isBankCustomer"
                            :class="{'valid': !$v.appUser.isBankCustomer.$invalid, 'invalid': $v.appUser.isBankCustomer.$invalid }" v-model="$v.appUser.isBankCustomer.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.verifiedAccount')" for="app-user-verifiedAccount">Verified Account</label>
                        <input type="checkbox" class="form-check" name="verifiedAccount" id="app-user-verifiedAccount"
                            :class="{'valid': !$v.appUser.verifiedAccount.$invalid, 'invalid': $v.appUser.verifiedAccount.$invalid }" v-model="$v.appUser.verifiedAccount.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.lastLoginCountry')" for="app-user-lastLoginCountry">Last Login Country</label>
                        <input type="text" class="form-control" name="lastLoginCountry" id="app-user-lastLoginCountry"
                            :class="{'valid': !$v.appUser.lastLoginCountry.$invalid, 'invalid': $v.appUser.lastLoginCountry.$invalid }" v-model="$v.appUser.lastLoginCountry.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.lastLoginDeviceId')" for="app-user-lastLoginDeviceId">Last Login Device Id</label>
                        <input type="text" class="form-control" name="lastLoginDeviceId" id="app-user-lastLoginDeviceId"
                            :class="{'valid': !$v.appUser.lastLoginDeviceId.$invalid, 'invalid': $v.appUser.lastLoginDeviceId.$invalid }" v-model="$v.appUser.lastLoginDeviceId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.lastLoginIpAddress')" for="app-user-lastLoginIpAddress">Last Login Ip Address</label>
                        <input type="text" class="form-control" name="lastLoginIpAddress" id="app-user-lastLoginIpAddress"
                            :class="{'valid': !$v.appUser.lastLoginIpAddress.$invalid, 'invalid': $v.appUser.lastLoginIpAddress.$invalid }" v-model="$v.appUser.lastLoginIpAddress.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUser.failureLoginAttempts')" for="app-user-failureLoginAttempts">Failure Login Attempts</label>
                        <input type="number" class="form-control" name="failureLoginAttempts" id="app-user-failureLoginAttempts"
                            :class="{'valid': !$v.appUser.failureLoginAttempts.$invalid, 'invalid': $v.appUser.failureLoginAttempts.$invalid }" v-model.number="$v.appUser.failureLoginAttempts.$model" />
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.appUser.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./app-user-update.component.ts">
</script>
