<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="appUser">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.appUser.detail.title')">AppUser</span> {{appUser.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.customerId')">Customer Id</span>
                    </dt>
                    <dd>
                        <span>{{appUser.customerId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{appUser.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.identifierId')">Identifier Id</span>
                    </dt>
                    <dd>
                        <span>{{appUser.identifierId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.createdAt')">Created At</span>
                    </dt>
                    <dd>
                        <span>{{appUser.createdAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.email')">Email</span>
                    </dt>
                    <dd>
                        <span>{{appUser.email}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.firstName')">First Name</span>
                    </dt>
                    <dd>
                        <span>{{appUser.firstName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.isBlocked')">Is Blocked</span>
                    </dt>
                    <dd>
                        <span>{{appUser.isBlocked}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.isCustomer')">Is Customer</span>
                    </dt>
                    <dd>
                        <span>{{appUser.isCustomer}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.isInactive')">Is Inactive</span>
                    </dt>
                    <dd>
                        <span>{{appUser.isInactive}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.isVendor')">Is Vendor</span>
                    </dt>
                    <dd>
                        <span>{{appUser.isVendor}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.lastLogin')">Last Login</span>
                    </dt>
                    <dd>
                        <span>{{appUser.lastLogin | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.lastName')">Last Name</span>
                    </dt>
                    <dd>
                        <span>{{appUser.lastName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.loginOtp')">Login Otp</span>
                    </dt>
                    <dd>
                        <span>{{appUser.loginOtp}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.loginStatus')">Login Status</span>
                    </dt>
                    <dd>
                        <span>{{appUser.loginStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.loginCount')">Login Count</span>
                    </dt>
                    <dd>
                        <span>{{appUser.loginCount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.otpTimestamp')">Otp Timestamp</span>
                    </dt>
                    <dd>
                        <span>{{appUser.otpTimestamp | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.password')">Password</span>
                    </dt>
                    <dd>
                        <span>{{appUser.password}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.phone')">Phone</span>
                    </dt>
                    <dd>
                        <span>{{appUser.phone}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.resetToken')">Reset Token</span>
                    </dt>
                    <dd>
                        <span>{{appUser.resetToken}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.timestamp')">Timestamp</span>
                    </dt>
                    <dd>
                        <span>{{appUser.timestamp | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.updatedAt')">Updated At</span>
                    </dt>
                    <dd>
                        <span>{{appUser.updatedAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.userRole')">User Role</span>
                    </dt>
                    <dd>
                        <span>{{appUser.userRole}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.userName')">User Name</span>
                    </dt>
                    <dd>
                        <span>{{appUser.userName}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.isAgent')">Is Agent</span>
                    </dt>
                    <dd>
                        <span>{{appUser.isAgent}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.isBankCustomer')">Is Bank Customer</span>
                    </dt>
                    <dd>
                        <span>{{appUser.isBankCustomer}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.verifiedAccount')">Verified Account</span>
                    </dt>
                    <dd>
                        <span>{{appUser.verifiedAccount}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.lastLoginCountry')">Last Login Country</span>
                    </dt>
                    <dd>
                        <span>{{appUser.lastLoginCountry}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.lastLoginDeviceId')">Last Login Device Id</span>
                    </dt>
                    <dd>
                        <span>{{appUser.lastLoginDeviceId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.lastLoginIpAddress')">Last Login Ip Address</span>
                    </dt>
                    <dd>
                        <span>{{appUser.lastLoginIpAddress}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUser.failureLoginAttempts')">Failure Login Attempts</span>
                    </dt>
                    <dd>
                        <span>{{appUser.failureLoginAttempts}}</span>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="appUser.id" :to="{name: 'AppUserEdit', params: {appUserId: appUser.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./app-user-details.component.ts">
</script>
