<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.appUser.home.title')" id="app-user-heading">App Users</span>
            <router-link :to="{name: 'AppUserCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app-user">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.appUser.home.createLabel')">
                    Create new AppUser
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && appUsers && appUsers.length === 0">
            <span v-text="$t('ecommerchantApp.appUser.home.notFound')">No appUsers found</span>
        </div>
        <div class="table-responsive" v-if="appUsers && appUsers.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.customerId')">Customer Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.identifierId')">Identifier Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.createdAt')">Created At</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.email')">Email</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.firstName')">First Name</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.isBlocked')">Is Blocked</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.isCustomer')">Is Customer</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.isInactive')">Is Inactive</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.isVendor')">Is Vendor</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.lastLogin')">Last Login</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.lastName')">Last Name</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.loginOtp')">Login Otp</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.loginStatus')">Login Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.loginCount')">Login Count</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.otpTimestamp')">Otp Timestamp</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.password')">Password</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.phone')">Phone</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.resetToken')">Reset Token</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.timestamp')">Timestamp</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.updatedAt')">Updated At</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.userRole')">User Role</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.userName')">User Name</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.isAgent')">Is Agent</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.isBankCustomer')">Is Bank Customer</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.verifiedAccount')">Verified Account</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.lastLoginCountry')">Last Login Country</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.lastLoginDeviceId')">Last Login Device Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.lastLoginIpAddress')">Last Login Ip Address</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUser.failureLoginAttempts')">Failure Login Attempts</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="appUser in appUsers"
                    :key="appUser.id">
                    <td>
                        <router-link :to="{name: 'AppUserView', params: {appUserId: appUser.id}}">{{appUser.id}}</router-link>
                    </td>
                    <td>{{appUser.customerId}}</td>
                    <td>{{appUser.clientId}}</td>
                    <td>{{appUser.identifierId}}</td>
                    <td>{{appUser.createdAt | formatDate}}</td>
                    <td>{{appUser.email}}</td>
                    <td>{{appUser.firstName}}</td>
                    <td>{{appUser.isBlocked}}</td>
                    <td>{{appUser.isCustomer}}</td>
                    <td>{{appUser.isInactive}}</td>
                    <td>{{appUser.isVendor}}</td>
                    <td>{{appUser.lastLogin | formatDate}}</td>
                    <td>{{appUser.lastName}}</td>
                    <td>{{appUser.loginOtp}}</td>
                    <td>{{appUser.loginStatus}}</td>
                    <td>{{appUser.loginCount}}</td>
                    <td>{{appUser.otpTimestamp | formatDate}}</td>
                    <td>{{appUser.password}}</td>
                    <td>{{appUser.phone}}</td>
                    <td>{{appUser.resetToken}}</td>
                    <td>{{appUser.timestamp | formatDate}}</td>
                    <td>{{appUser.updatedAt | formatDate}}</td>
                    <td>{{appUser.userRole}}</td>
                    <td>{{appUser.userName}}</td>
                    <td>{{appUser.isAgent}}</td>
                    <td>{{appUser.isBankCustomer}}</td>
                    <td>{{appUser.verifiedAccount}}</td>
                    <td>{{appUser.lastLoginCountry}}</td>
                    <td>{{appUser.lastLoginDeviceId}}</td>
                    <td>{{appUser.lastLoginIpAddress}}</td>
                    <td>{{appUser.failureLoginAttempts}}</td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'AppUserView', params: {appUserId: appUser.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'AppUserEdit', params: {appUserId: appUser.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(appUser)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.appUser.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-appUser-heading" v-bind:title="$t('ecommerchantApp.appUser.delete.question')">Are you sure you want to delete this App User?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-appUser" v-text="$t('entity.action.delete')" v-on:click="removeAppUser()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./app-user.component.ts">
</script>
