<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.product.home.createOrEditLabel" v-text="$t('ecommerchantApp.product.home.createOrEditLabel')">Create or edit a Product</h2>
                <div>
                    <div class="form-group" v-if="product.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="product.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.productId')" for="product-productId">Product Id</label>
                        <input type="text" class="form-control" name="productId" id="product-productId"
                            :class="{'valid': !$v.product.productId.$invalid, 'invalid': $v.product.productId.$invalid }" v-model="$v.product.productId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.clientId')" for="product-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-clientId"
                            :class="{'valid': !$v.product.clientId.$invalid, 'invalid': $v.product.clientId.$invalid }" v-model="$v.product.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.adminKey')" for="product-adminKey">Admin Key</label>
                        <input type="text" class="form-control" name="adminKey" id="product-adminKey"
                            :class="{'valid': !$v.product.adminKey.$invalid, 'invalid': $v.product.adminKey.$invalid }" v-model="$v.product.adminKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.createdAt')" for="product-createdAt">Created At</label>
                        <div class="d-flex">
                            <input id="product-createdAt" type="datetime-local" class="form-control" name="createdAt" :class="{'valid': !$v.product.createdAt.$invalid, 'invalid': $v.product.createdAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.product.createdAt.$model)"
                            @change="updateInstantField('createdAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.description')" for="product-description">Description</label>
                        <input type="text" class="form-control" name="description" id="product-description"
                            :class="{'valid': !$v.product.description.$invalid, 'invalid': $v.product.description.$invalid }" v-model="$v.product.description.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.modelCode')" for="product-modelCode">Model Code</label>
                        <input type="text" class="form-control" name="modelCode" id="product-modelCode"
                            :class="{'valid': !$v.product.modelCode.$invalid, 'invalid': $v.product.modelCode.$invalid }" v-model="$v.product.modelCode.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.name')" for="product-name">Name</label>
                        <input type="text" class="form-control" name="name" id="product-name"
                            :class="{'valid': !$v.product.name.$invalid, 'invalid': $v.product.name.$invalid }" v-model="$v.product.name.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.recordStatus')" for="product-recordStatus">Record Status</label>
                        <input type="number" class="form-control" name="recordStatus" id="product-recordStatus"
                            :class="{'valid': !$v.product.recordStatus.$invalid, 'invalid': $v.product.recordStatus.$invalid }" v-model.number="$v.product.recordStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.salesQuantity')" for="product-salesQuantity">Sales Quantity</label>
                        <input type="number" class="form-control" name="salesQuantity" id="product-salesQuantity"
                            :class="{'valid': !$v.product.salesQuantity.$invalid, 'invalid': $v.product.salesQuantity.$invalid }" v-model.number="$v.product.salesQuantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.tagCode')" for="product-tagCode">Tag Code</label>
                        <input type="text" class="form-control" name="tagCode" id="product-tagCode"
                            :class="{'valid': !$v.product.tagCode.$invalid, 'invalid': $v.product.tagCode.$invalid }" v-model="$v.product.tagCode.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.updatedAt')" for="product-updatedAt">Updated At</label>
                        <div class="d-flex">
                            <input id="product-updatedAt" type="datetime-local" class="form-control" name="updatedAt" :class="{'valid': !$v.product.updatedAt.$invalid, 'invalid': $v.product.updatedAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.product.updatedAt.$model)"
                            @change="updateInstantField('updatedAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.indentifierId')" for="product-indentifierId">Indentifier Id</label>
                        <input type="text" class="form-control" name="indentifierId" id="product-indentifierId"
                            :class="{'valid': !$v.product.indentifierId.$invalid, 'invalid': $v.product.indentifierId.$invalid }" v-model="$v.product.indentifierId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.identifierId')" for="product-identifierId">Identifier Id</label>
                        <input type="text" class="form-control" name="identifierId" id="product-identifierId"
                            :class="{'valid': !$v.product.identifierId.$invalid, 'invalid': $v.product.identifierId.$invalid }" v-model="$v.product.identifierId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.product.productGroupId')" for="product-productGroupId">Product Group Id</label>
                        <input type="text" class="form-control" name="productGroupId" id="product-productGroupId"
                            :class="{'valid': !$v.product.productGroupId.$invalid, 'invalid': $v.product.productGroupId.$invalid }" v-model="$v.product.productGroupId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.product.productCategoryId')" for="product-productCategoryId">Product Category Id</label>
                        <select class="form-control" id="product-productCategoryId" name="productCategoryId" v-model="product.productCategoryId">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="product.productCategoryId && productCategoryOption.id === product.productCategoryId.id ? product.productCategoryId : productCategoryOption" v-for="productCategoryOption in productCategories" :key="productCategoryOption.id">{{productCategoryOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.product.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-update.component.ts">
</script>
