<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="product">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.product.detail.title')">Product</span> {{product.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <span>{{product.productId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{product.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.adminKey')">Admin Key</span>
                    </dt>
                    <dd>
                        <span>{{product.adminKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.createdAt')">Created At</span>
                    </dt>
                    <dd>
                        <span>{{product.createdAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.description')">Description</span>
                    </dt>
                    <dd>
                        <span>{{product.description}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.modelCode')">Model Code</span>
                    </dt>
                    <dd>
                        <span>{{product.modelCode}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.name')">Name</span>
                    </dt>
                    <dd>
                        <span>{{product.name}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.recordStatus')">Record Status</span>
                    </dt>
                    <dd>
                        <span>{{product.recordStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.salesQuantity')">Sales Quantity</span>
                    </dt>
                    <dd>
                        <span>{{product.salesQuantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.tagCode')">Tag Code</span>
                    </dt>
                    <dd>
                        <span>{{product.tagCode}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.updatedAt')">Updated At</span>
                    </dt>
                    <dd>
                        <span>{{product.updatedAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.indentifierId')">Indentifier Id</span>
                    </dt>
                    <dd>
                        <span>{{product.indentifierId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.identifierId')">Identifier Id</span>
                    </dt>
                    <dd>
                        <span>{{product.identifierId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.productGroupId')">Product Group Id</span>
                    </dt>
                    <dd>
                        <span>{{product.productGroupId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.product.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <div v-if="product.productCategoryId">
                            <router-link :to="{name: 'ProductCategoryView', params: {productCategoryIdId: product.productCategoryId.id}}">{{product.productCategoryId.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="product.id" :to="{name: 'ProductEdit', params: {productId: product.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-details.component.ts">
</script>
