<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.productInventory.home.createOrEditLabel" v-text="$t('ecommerchantApp.productInventory.home.createOrEditLabel')">Create or edit a ProductInventory</h2>
                <div>
                    <div class="form-group" v-if="productInventory.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="productInventory.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.clientId')" for="product-inventory-clientId">Client Id</label>
                        <input type="text" class="form-control" name="clientId" id="product-inventory-clientId"
                            :class="{'valid': !$v.productInventory.clientId.$invalid, 'invalid': $v.productInventory.clientId.$invalid }" v-model="$v.productInventory.clientId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.availableStock')" for="product-inventory-availableStock">Available Stock</label>
                        <input type="number" class="form-control" name="availableStock" id="product-inventory-availableStock"
                            :class="{'valid': !$v.productInventory.availableStock.$invalid, 'invalid': $v.productInventory.availableStock.$invalid }" v-model.number="$v.productInventory.availableStock.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.costPrice')" for="product-inventory-costPrice">Cost Price</label>
                        <input type="number" class="form-control" name="costPrice" id="product-inventory-costPrice"
                            :class="{'valid': !$v.productInventory.costPrice.$invalid, 'invalid': $v.productInventory.costPrice.$invalid }" v-model.number="$v.productInventory.costPrice.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.damagedQuantity')" for="product-inventory-damagedQuantity">Damaged Quantity</label>
                        <input type="number" class="form-control" name="damagedQuantity" id="product-inventory-damagedQuantity"
                            :class="{'valid': !$v.productInventory.damagedQuantity.$invalid, 'invalid': $v.productInventory.damagedQuantity.$invalid }" v-model.number="$v.productInventory.damagedQuantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.maxQuantity')" for="product-inventory-maxQuantity">Max Quantity</label>
                        <input type="number" class="form-control" name="maxQuantity" id="product-inventory-maxQuantity"
                            :class="{'valid': !$v.productInventory.maxQuantity.$invalid, 'invalid': $v.productInventory.maxQuantity.$invalid }" v-model.number="$v.productInventory.maxQuantity.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.priceTag')" for="product-inventory-priceTag">Price Tag</label>
                        <input type="text" class="form-control" name="priceTag" id="product-inventory-priceTag"
                            :class="{'valid': !$v.productInventory.priceTag.$invalid, 'invalid': $v.productInventory.priceTag.$invalid }" v-model="$v.productInventory.priceTag.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.productCategoryId')" for="product-inventory-productCategoryId">Product Category Id</label>
                        <input type="text" class="form-control" name="productCategoryId" id="product-inventory-productCategoryId"
                            :class="{'valid': !$v.productInventory.productCategoryId.$invalid, 'invalid': $v.productInventory.productCategoryId.$invalid }" v-model="$v.productInventory.productCategoryId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.recordStatus')" for="product-inventory-recordStatus">Record Status</label>
                        <input type="number" class="form-control" name="recordStatus" id="product-inventory-recordStatus"
                            :class="{'valid': !$v.productInventory.recordStatus.$invalid, 'invalid': $v.productInventory.recordStatus.$invalid }" v-model.number="$v.productInventory.recordStatus.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.reorderLevel')" for="product-inventory-reorderLevel">Reorder Level</label>
                        <input type="number" class="form-control" name="reorderLevel" id="product-inventory-reorderLevel"
                            :class="{'valid': !$v.productInventory.reorderLevel.$invalid, 'invalid': $v.productInventory.reorderLevel.$invalid }" v-model.number="$v.productInventory.reorderLevel.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.productInventory.unitPrice')" for="product-inventory-unitPrice">Unit Price</label>
                        <input type="number" class="form-control" name="unitPrice" id="product-inventory-unitPrice"
                            :class="{'valid': !$v.productInventory.unitPrice.$invalid, 'invalid': $v.productInventory.unitPrice.$invalid }" v-model.number="$v.productInventory.unitPrice.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.productInventory.productId')" for="product-inventory-productId">Product Id</label>
                        <select class="form-control" id="product-inventory-productId" name="productId" v-model="productInventory.productId">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="productInventory.productId && productOption.id === productInventory.productId.id ? productInventory.productId : productOption" v-for="productOption in products" :key="productOption.id">{{productOption.name}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.productInventory.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./product-inventory-update.component.ts">
</script>
