<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.productInventory.home.title')" id="product-inventory-heading">Product Inventories</span>
            <router-link :to="{name: 'ProductInventoryCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-inventory">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.productInventory.home.createLabel')">
                    Create new ProductInventory
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && productInventories && productInventories.length === 0">
            <span v-text="$t('ecommerchantApp.productInventory.home.notFound')">No productInventories found</span>
        </div>
        <div class="table-responsive" v-if="productInventories && productInventories.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.clientId')">Client Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.availableStock')">Available Stock</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.costPrice')">Cost Price</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.damagedQuantity')">Damaged Quantity</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.maxQuantity')">Max Quantity</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.priceTag')">Price Tag</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.productCategoryId')">Product Category Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.recordStatus')">Record Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.reorderLevel')">Reorder Level</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.unitPrice')">Unit Price</span></th>
                    <th><span v-text="$t('ecommerchantApp.productInventory.productId')">Product Id</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="productInventory in productInventories"
                    :key="productInventory.id">
                    <td>
                        <router-link :to="{name: 'ProductInventoryView', params: {productInventoryId: productInventory.id}}">{{productInventory.id}}</router-link>
                    </td>
                    <td>{{productInventory.clientId}}</td>
                    <td>{{productInventory.availableStock}}</td>
                    <td>{{productInventory.costPrice}}</td>
                    <td>{{productInventory.damagedQuantity}}</td>
                    <td>{{productInventory.maxQuantity}}</td>
                    <td>{{productInventory.priceTag}}</td>
                    <td>{{productInventory.productCategoryId}}</td>
                    <td>{{productInventory.recordStatus}}</td>
                    <td>{{productInventory.reorderLevel}}</td>
                    <td>{{productInventory.unitPrice}}</td>
                    <td>
                        <div v-if="productInventory.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productInventory.productId.id}}">{{productInventory.productId.name}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'ProductInventoryView', params: {productInventoryId: productInventory.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'ProductInventoryEdit', params: {productInventoryId: productInventory.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(productInventory)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.productInventory.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-productInventory-heading" v-bind:title="$t('ecommerchantApp.productInventory.delete.question')">Are you sure you want to delete this Product Inventory?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-productInventory" v-text="$t('entity.action.delete')" v-on:click="removeProductInventory()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./product-inventory.component.ts">
</script>
