<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="productInventory">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.productInventory.detail.title')">ProductInventory</span> {{productInventory.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.clientId')">Client Id</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.clientId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.availableStock')">Available Stock</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.availableStock}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.costPrice')">Cost Price</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.costPrice}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.damagedQuantity')">Damaged Quantity</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.damagedQuantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.maxQuantity')">Max Quantity</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.maxQuantity}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.priceTag')">Price Tag</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.priceTag}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.productCategoryId')">Product Category Id</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.productCategoryId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.recordStatus')">Record Status</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.recordStatus}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.reorderLevel')">Reorder Level</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.reorderLevel}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.unitPrice')">Unit Price</span>
                    </dt>
                    <dd>
                        <span>{{productInventory.unitPrice}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.productInventory.productId')">Product Id</span>
                    </dt>
                    <dd>
                        <div v-if="productInventory.productId">
                            <router-link :to="{name: 'ProductView', params: {productIdId: productInventory.productId.id}}">{{productInventory.productId.name}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="productInventory.id" :to="{name: 'ProductInventoryEdit', params: {productInventoryId: productInventory.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./product-inventory-details.component.ts">
</script>
