<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <div v-if="appUserDevice">
                <h2 class="jh-entity-heading"><span v-text="$t('ecommerchantApp.appUserDevice.detail.title')">AppUserDevice</span> {{appUserDevice.id}}</h2>
                <dl class="row jh-entity-details">
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.deviceId')">Device Id</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.deviceId}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.deviceType')">Device Type</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerchantApp.DeviceType.' + appUserDevice.deviceType)">{{appUserDevice.deviceType}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.deviceOs')">Device Os</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.deviceOs}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.country')">Country</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.country}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.ipAddressDuringRegistration')">Ip Address During Registration</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.ipAddressDuringRegistration}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.createdAt')">Created At</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.createdAt | formatDate}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.deviceKey')">Device Key</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.deviceKey}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.status')">Status</span>
                    </dt>
                    <dd>
                        <span v-text="$t('ecommerchantApp.DeviceStatus.' + appUserDevice.status)">{{appUserDevice.status}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.pin')">Pin</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.pin}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.isLoggedIn')">Is Logged In</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.isLoggedIn}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.lastLoginCountry')">Last Login Country</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.lastLoginCountry}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.lastLoginIpAddress')">Last Login Ip Address</span>
                    </dt>
                    <dd>
                        <span>{{appUserDevice.lastLoginIpAddress}}</span>
                    </dd>
                    <dt>
                        <span v-text="$t('ecommerchantApp.appUserDevice.appUser')">App User</span>
                    </dt>
                    <dd>
                        <div v-if="appUserDevice.appUser">
                            <router-link :to="{name: 'AppUserView', params: {appUserId: appUserDevice.appUser.id}}">{{appUserDevice.appUser.userName}}</router-link>
                        </div>
                    </dd>
                </dl>
                <button type="submit"
                        v-on:click.prevent="previousState()"
                        class="btn btn-info">
                    <font-awesome-icon icon="arrow-left"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.back')"> Back</span>
                </button>
                <router-link v-if="appUserDevice.id" :to="{name: 'AppUserDeviceEdit', params: {appUserDeviceId: appUserDevice.id}}" tag="button" class="btn btn-primary">
                    <font-awesome-icon icon="pencil-alt"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.edit')"> Edit</span>
                </router-link>
            </div>
        </div>
    </div>
</template>

<script lang="ts" src="./app-user-device-details.component.ts">
</script>
