<template>
    <div class="row justify-content-center">
        <div class="col-8">
            <form name="editForm" role="form" novalidate v-on:submit.prevent="save()" >
                <h2 id="ecommerchantApp.appUserDevice.home.createOrEditLabel" v-text="$t('ecommerchantApp.appUserDevice.home.createOrEditLabel')">Create or edit a AppUserDevice</h2>
                <div>
                    <div class="form-group" v-if="appUserDevice.id">
                        <label for="id" v-text="$t('global.field.id')">ID</label>
                        <input type="text" class="form-control" id="id" name="id"
                               v-model="appUserDevice.id" readonly />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.deviceId')" for="app-user-device-deviceId">Device Id</label>
                        <input type="text" class="form-control" name="deviceId" id="app-user-device-deviceId"
                            :class="{'valid': !$v.appUserDevice.deviceId.$invalid, 'invalid': $v.appUserDevice.deviceId.$invalid }" v-model="$v.appUserDevice.deviceId.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.deviceType')" for="app-user-device-deviceType">Device Type</label>
                        <select class="form-control" name="deviceType" :class="{'valid': !$v.appUserDevice.deviceType.$invalid, 'invalid': $v.appUserDevice.deviceType.$invalid }" v-model="$v.appUserDevice.deviceType.$model" id="app-user-device-deviceType" >
                            <option value="MOBILE" v-bind:label="$t('ecommerchantApp.DeviceType.MOBILE')">MOBILE</option>
                            <option value="DESKTOP" v-bind:label="$t('ecommerchantApp.DeviceType.DESKTOP')">DESKTOP</option>
                            <option value="TABLET" v-bind:label="$t('ecommerchantApp.DeviceType.TABLET')">TABLET</option>
                            <option value="VOICE" v-bind:label="$t('ecommerchantApp.DeviceType.VOICE')">VOICE</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.deviceOs')" for="app-user-device-deviceOs">Device Os</label>
                        <input type="text" class="form-control" name="deviceOs" id="app-user-device-deviceOs"
                            :class="{'valid': !$v.appUserDevice.deviceOs.$invalid, 'invalid': $v.appUserDevice.deviceOs.$invalid }" v-model="$v.appUserDevice.deviceOs.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.country')" for="app-user-device-country">Country</label>
                        <input type="text" class="form-control" name="country" id="app-user-device-country"
                            :class="{'valid': !$v.appUserDevice.country.$invalid, 'invalid': $v.appUserDevice.country.$invalid }" v-model="$v.appUserDevice.country.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.ipAddressDuringRegistration')" for="app-user-device-ipAddressDuringRegistration">Ip Address During Registration</label>
                        <input type="text" class="form-control" name="ipAddressDuringRegistration" id="app-user-device-ipAddressDuringRegistration"
                            :class="{'valid': !$v.appUserDevice.ipAddressDuringRegistration.$invalid, 'invalid': $v.appUserDevice.ipAddressDuringRegistration.$invalid }" v-model="$v.appUserDevice.ipAddressDuringRegistration.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.createdAt')" for="app-user-device-createdAt">Created At</label>
                        <div class="d-flex">
                            <input id="app-user-device-createdAt" type="datetime-local" class="form-control" name="createdAt" :class="{'valid': !$v.appUserDevice.createdAt.$invalid, 'invalid': $v.appUserDevice.createdAt.$invalid }"
                            
                            :value="convertDateTimeFromServer($v.appUserDevice.createdAt.$model)"
                            @change="updateInstantField('createdAt', $event)"/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.deviceKey')" for="app-user-device-deviceKey">Device Key</label>
                        <input type="text" class="form-control" name="deviceKey" id="app-user-device-deviceKey"
                            :class="{'valid': !$v.appUserDevice.deviceKey.$invalid, 'invalid': $v.appUserDevice.deviceKey.$invalid }" v-model="$v.appUserDevice.deviceKey.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.status')" for="app-user-device-status">Status</label>
                        <select class="form-control" name="status" :class="{'valid': !$v.appUserDevice.status.$invalid, 'invalid': $v.appUserDevice.status.$invalid }" v-model="$v.appUserDevice.status.$model" id="app-user-device-status" >
                            <option value="ACTIVE" v-bind:label="$t('ecommerchantApp.DeviceStatus.ACTIVE')">ACTIVE</option>
                            <option value="INACTIVE" v-bind:label="$t('ecommerchantApp.DeviceStatus.INACTIVE')">INACTIVE</option>
                            <option value="SUSPENDED" v-bind:label="$t('ecommerchantApp.DeviceStatus.SUSPENDED')">SUSPENDED</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.pin')" for="app-user-device-pin">Pin</label>
                        <input type="text" class="form-control" name="pin" id="app-user-device-pin"
                            :class="{'valid': !$v.appUserDevice.pin.$invalid, 'invalid': $v.appUserDevice.pin.$invalid }" v-model="$v.appUserDevice.pin.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.isLoggedIn')" for="app-user-device-isLoggedIn">Is Logged In</label>
                        <input type="checkbox" class="form-check" name="isLoggedIn" id="app-user-device-isLoggedIn"
                            :class="{'valid': !$v.appUserDevice.isLoggedIn.$invalid, 'invalid': $v.appUserDevice.isLoggedIn.$invalid }" v-model="$v.appUserDevice.isLoggedIn.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.lastLoginCountry')" for="app-user-device-lastLoginCountry">Last Login Country</label>
                        <input type="text" class="form-control" name="lastLoginCountry" id="app-user-device-lastLoginCountry"
                            :class="{'valid': !$v.appUserDevice.lastLoginCountry.$invalid, 'invalid': $v.appUserDevice.lastLoginCountry.$invalid }" v-model="$v.appUserDevice.lastLoginCountry.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-text="$t('ecommerchantApp.appUserDevice.lastLoginIpAddress')" for="app-user-device-lastLoginIpAddress">Last Login Ip Address</label>
                        <input type="text" class="form-control" name="lastLoginIpAddress" id="app-user-device-lastLoginIpAddress"
                            :class="{'valid': !$v.appUserDevice.lastLoginIpAddress.$invalid, 'invalid': $v.appUserDevice.lastLoginIpAddress.$invalid }" v-model="$v.appUserDevice.lastLoginIpAddress.$model" />
                    </div>
                    <div class="form-group">
                        <label class="form-control-label" v-bind:value="$t('ecommerchantApp.appUserDevice.appUser')" for="app-user-device-appUser">App User</label>
                        <select class="form-control" id="app-user-device-appUser" name="appUser" v-model="appUserDevice.appUser">
                            <option v-bind:value="null"></option>
                            <option v-bind:value="appUserDevice.appUser && appUserOption.id === appUserDevice.appUser.id ? appUserDevice.appUser : appUserOption" v-for="appUserOption in appUsers" :key="appUserOption.id">{{appUserOption.userName}}</option>
                        </select>
                    </div>
                </div>
                <div>
                    <button type="button" id="cancel-save" class="btn btn-secondary" v-on:click="previousState()">
                        <font-awesome-icon icon="ban"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.cancel')">Cancel</span>
                    </button>
                    <button type="submit" id="save-entity" :disabled="$v.appUserDevice.$invalid || isSaving" class="btn btn-primary">
                        <font-awesome-icon icon="save"></font-awesome-icon>&nbsp;<span v-text="$t('entity.action.save')">Save</span>
                    </button>
                </div>
            </form>
        </div>
    </div>
</template>
<script lang="ts" src="./app-user-device-update.component.ts">
</script>
