<template>
    <div>
        <h2 id="page-heading">
            <span v-text="$t('ecommerchantApp.appUserDevice.home.title')" id="app-user-device-heading">App User Devices</span>
            <router-link :to="{name: 'AppUserDeviceCreate'}" tag="button" id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-app-user-device">
                <font-awesome-icon icon="plus"></font-awesome-icon>
                <span  v-text="$t('ecommerchantApp.appUserDevice.home.createLabel')">
                    Create new AppUserDevice
                </span>
            </router-link>
        </h2>
        <b-alert :show="dismissCountDown"
            dismissible
            :variant="alertType"
            @dismissed="dismissCountDown=0"
            @dismiss-count-down="countDownChanged">
            {{alertMessage}}
        </b-alert>
        <br/>
        <div class="alert alert-warning" v-if="!isFetching && appUserDevices && appUserDevices.length === 0">
            <span v-text="$t('ecommerchantApp.appUserDevice.home.notFound')">No appUserDevices found</span>
        </div>
        <div class="table-responsive" v-if="appUserDevices && appUserDevices.length > 0">
            <table class="table table-striped">
                <thead>
                <tr>
                    <th><span v-text="$t('global.field.id')">ID</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.deviceId')">Device Id</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.deviceType')">Device Type</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.deviceOs')">Device Os</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.country')">Country</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.ipAddressDuringRegistration')">Ip Address During Registration</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.createdAt')">Created At</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.deviceKey')">Device Key</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.status')">Status</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.pin')">Pin</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.isLoggedIn')">Is Logged In</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.lastLoginCountry')">Last Login Country</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.lastLoginIpAddress')">Last Login Ip Address</span></th>
                    <th><span v-text="$t('ecommerchantApp.appUserDevice.appUser')">App User</span></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr v-for="appUserDevice in appUserDevices"
                    :key="appUserDevice.id">
                    <td>
                        <router-link :to="{name: 'AppUserDeviceView', params: {appUserDeviceId: appUserDevice.id}}">{{appUserDevice.id}}</router-link>
                    </td>
                    <td>{{appUserDevice.deviceId}}</td>
                    <td v-text="$t('ecommerchantApp.DeviceType.' + appUserDevice.deviceType)">{{appUserDevice.deviceType}}</td>
                    <td>{{appUserDevice.deviceOs}}</td>
                    <td>{{appUserDevice.country}}</td>
                    <td>{{appUserDevice.ipAddressDuringRegistration}}</td>
                    <td>{{appUserDevice.createdAt | formatDate}}</td>
                    <td>{{appUserDevice.deviceKey}}</td>
                    <td v-text="$t('ecommerchantApp.DeviceStatus.' + appUserDevice.status)">{{appUserDevice.status}}</td>
                    <td>{{appUserDevice.pin}}</td>
                    <td>{{appUserDevice.isLoggedIn}}</td>
                    <td>{{appUserDevice.lastLoginCountry}}</td>
                    <td>{{appUserDevice.lastLoginIpAddress}}</td>
                    <td>
                        <div v-if="appUserDevice.appUser">
                            <router-link :to="{name: 'AppUserView', params: {appUserId: appUserDevice.appUser.id}}">{{appUserDevice.appUser.userName}}</router-link>
                        </div>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <router-link :to="{name: 'AppUserDeviceView', params: {appUserDeviceId: appUserDevice.id}}" tag="button" class="btn btn-info btn-sm details">
                                <font-awesome-icon icon="eye"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.view')">View</span>
                            </router-link>
                            <router-link :to="{name: 'AppUserDeviceEdit', params: {appUserDeviceId: appUserDevice.id}}"  tag="button" class="btn btn-primary btn-sm edit">
                                <font-awesome-icon icon="pencil-alt"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.edit')">Edit</span>
                            </router-link>
                            <b-button v-on:click="prepareRemove(appUserDevice)"
                                   variant="danger"
                                   class="btn btn-sm"
                                   v-b-modal.removeEntity>
                                <font-awesome-icon icon="times"></font-awesome-icon>
                                <span class="d-none d-md-inline" v-text="$t('entity.action.delete')">Delete</span>
                            </b-button>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <b-modal ref="removeEntity" id="removeEntity" >
            <span slot="modal-title"><span id="ecommerchantApp.appUserDevice.delete.question" v-text="$t('entity.delete.title')">Confirm delete operation</span></span>
            <div class="modal-body">
                <p id="jhi-delete-appUserDevice-heading" v-bind:title="$t('ecommerchantApp.appUserDevice.delete.question')">Are you sure you want to delete this App User Device?</p>
            </div>
            <div slot="modal-footer">
                <button type="button" class="btn btn-secondary" v-text="$t('entity.action.cancel')" v-on:click="closeDialog()">Cancel</button>
                <button type="button" class="btn btn-primary" id="jhi-confirm-delete-appUserDevice" v-text="$t('entity.action.delete')" v-on:click="removeAppUserDevice()">Delete</button>
            </div>
        </b-modal>
    </div>
</template>

<script lang="ts" src="./app-user-device.component.ts">
</script>
